
.dashboardGroupingBox
{
	hw-line-color: #404040;
}

.dashboardGroupingLabel
{
	hw-text-color: #606060;
}

.dashboardLine
{
	hw-line-color: #c0c0c0;
}

.dashboardLineAnnotation
{
	hw-text-color: #c0c0c0;
}

.dashboardTextTips
{
	hw-text-color: #ff0000;
}

.dashboardBackground
{
	hw-fill-color: #303030;
}

.shapeLabel
{
	hw-text-color: #c0c0c0;
}

.shapeOutline
{
	hw-line-color: #808080;
}

.shapeOutlineFill
{
	hw-line-color: #808080;
	hw-fill-color: #808080;
}

.shapeCompositeTab
{
	hw-fill-color: #606060;
}

.shapeSelectionBox
{
	hw-line-color: #1782E5;
}

.shapeBackground
{
	background-color: #404040;
}

.shapeBackgroundOff 
{
	background-color: #353535;
}

.shapeTitle
{
	hw-text-color: #C0C0C0;
}

.shapeSubType
{
	hw-text-color: #808080;
}

.shapeSelectBorder
{
	border-color: #1792E5 !important;
}

.compositeMenuBackground
{
	background-color: #303030;
	border: 2px solid #808080;
}

.menuDescription
{
	background-color: #808080 !important;
	color: #C0C0C0 !important;
}

.msgText
{
	font-size: 14px;
	color: #FFFFFF !important;
}