#Selected_Active_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Active_Unassigned_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Inactive_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Selected_Inactive_Unassigned_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Unassigned_Cells
{
	color:#8d8882;
}

#Table
{
	background-color:#333333;
	border-color:#979797;
	color:#fff;
}


.addCommentsTxt
{
	border-color:#a8adb2;
	background-color:#dcdee0;
	color:#000;
}

.displayTitle
{
	/*color: #404b56;*/
}
.linkTextVisible
{
	color:#000;
}

.cmbActivityCommand
{
	hw-text-color: #303030;
	hw-fill-color: #beb9b4;
	hw-combo-button-arrow-color: #303030;
}

/* from common color */

html, body, #Background
{
    color:#000;
	scrollbar-3dlight-color:#bcb9b5;
	scrollbar-arrow-color:#999189;
	scrollbar-base-color:#bcb9b5;
	scrollbar-darkshadow-color:#bcb9b5;
	scrollbar-face-color:#d3cfcc;
	scrollbar-highlight-color:#bcb9b5;
	scrollbar-shadow-color:#bcb9b5;
	scrollbar-track-color:#bcb9b5;
background-color:#d4cfc9;
}

#Page
{
	/*color:#404b56;*/
	
}
.ViewConfigPaneClass
{
	border-color:#c4bdbc !important;
}

.PANE_HEADER
{
	border-color:#c4bdbc;
	background:#beb9b4;
	color:#000;
	}
	
.PANE_BODY
{
	border: 1px solid #c4bdbc;
	background-color:#dad6d1;
	color:#000;
}

.PANE_BODY table
{
	color:#000;
}


.HDXTBL_COLHEAD
{
	border-color:#d4cfc9;
	background:#beb9b4;
	color:#000;
}

.HDX_MENU
{
	background:#dddad5;
	border-color:#d0ccc8;
	color: #000;
}

[disabled].HDX_MENUITEM {
	color: #a0a0a0;
}

.summaryBtnTab
{
	border-color:#dad6d1;
	background-color:#c9c5c1;
}

.summaryBtnTabSelected
{
	border-color:#c4c1bd;
	background-color:#dad5d0;
}

.summaryTabContainer
{
	border-color:#c4c1bd;
	background:#dad5d0;
}

.DetailsPaneClass
{
	border-color:#c4bdbc !important;
}

.existCommentsClass
{
	background:transparent;
	border-color:#c4c1bd;
}

.pauseBtnMsg
{
	background: transparent;
	color:#24407f;
}

.lblFilter
{
	color:#24407f; /*/314142*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.AreaPaneClass
{
	border-color:#c4bdbc;
}

.shelveAlarm, .shelveAlarm_ovr, .unshelveAlarm, .unshelveAlarm_ovr,
.pauseEnabled, .pauseEnabled_ovr, .AcknowledgePageEnabled, .AcknowledgePageEnabled_ovr,
.dialogShelveAlarm, .dialogShelveAlarm_ovr, .resumeEnabled, .resumeEnabled_ovr,
.generateEventEnabled, .generateEventEnabled_ovr, .clearPageEnabled, .clearPageEnabled_ovr, .alarmOverFlowAck_ovr,
.audibleSuppressionEnabled, .audibleSuppressionEnabled_ovr, .silenceAudible
{
	color:#000;
}

.unshelveAlarm_ovr, .pauseEnabled_ovr, .AcknowledgePageEnabled_ovr, .shelveAlarm_ovr,
.dialogShelveAlarm_ovr, .resumeEnabled_ovr, .generateEventEnabled_ovr, .clearPageEnabled_ovr,
.audibleSuppressionEnabled_ovr, .alarmOverFlowAck_ovr, .ClearFilter_ovr, .resetViewClass_ovr, .saveViewBtnEnabled_ovr,
.deleteViewEnabled_ovr, .areaPaneClose_ovr, .areaPaneOpen_ovr, .saveDetailsEnabled_ovr, .silenceAudible_ovr
{
	border-color:#a8a099 !Important;
	background-color:#b9b3ac !important;
}
.areaPaneClose_ovr, .areaPaneOpen_ovr
{
	border-color:#a8a099 !Important;
	background-color:#dad6d1 !important;
}
.shelveAlarmDisabled, .dialogShelveAlarmDisabled, .unshelveAlarmDisabled, .pauseDisabled, .resumeDisabled, .saveDetailsDisabled, .saveViewBtnDisabled, .deleteViewDisabled, .AcknowledgePageDisabled
{
	cursor:default;
	color: #9A9A9A;
}

input.inputValue, .inputValue, .gsInputValue, select .gsInputValue, .viewTxtAreaName
{
		color:#000;
	background:#eeece9;
	border-color:#beb9b4;
}


.viewTxtAreaNameDisabled
{
	color:#000;
	background:#cfcbc6;
	border-color:#c4c0bc;
}



.addCommentsTxt
{
	background:#eeece9;
	border-color:#beb9b4;
	color:#000;
}

.filter_text
{
	color:#24407f !important; /*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.unfilter_text
{
	color:#000;
}

.saveDetailsEnabled
{
	color:#444444;
}



	
	
	
	.spanViewListClass
{
	background:#dddad5;
	border-color:#d0ccc8;
}

	
.dropAreaPaneEnabled_ovr, .btnDropViewList_ovr
{
	color:#000;
	border-color:#a8a099 !Important;
	background:#b9b3ac !important;
}

.sysSumTopBand
{
	background: #8a95aa !important;
	color: #FFFFFF;
}

.selectNoneBtn
{
	background:#c6c0bb;
	color:#000;
	border-color: #afa9a3 !important;
}

.alarmColHeading
{
	color: #24407f;
}

.alarmColHeading .blankHeader
{
	color: #ffffff;
	background-color: #24407f;
}

.MENUITEM_HOVER
{

	background-color:#b7b3ac;
	color:#000000;
}

.alarmTrendEnabled_ovr, .alarmTrendSelected, .viewConfigPaneEnabled_ovr, .viewConfigPaneSelected,
.areaPaneEnabled_ovr, .areaPaneEnabledSelected, .statusPaneEnabled_ovr, .detailsPaneEnabled_ovr,
.columnOrganizerEnabled_ovr, .printAsReportEnabled_ovr, .printPreviewEnabled_ovr, .csvExportEnabled_ovr, .systemStatusPaneEnabled_ovr,
.dashboardBackEnabled_ovr
{
	border-color:#b9b3ac !Important;
	background-color:#a8a099 !important;
}

.linkText
{
	color:#000;
}
	
.TabSet
{
	background:#f4f4ee;
}

.locationBrowserDisabled
{
	color:#acb5b9;
	background:#d7dcde;
	border-color:#d3d6d8;
}

.locationBrowserEnabled
{
	background:#dddce3 !important;
	border-color:#cdcab9 !important;
	color:#000 !important;
}

.almHlpSmallItemLabel 
{
	background-color: #beb9b4;
	color: #202020;
}

.almHlpSmallItemValue 
{
	color: #505050;
}

.almHlpItemHead
{
	background-color: #beb9b4;
	color: #202020;
}

.almHlpItemContent, .sysAlmHlpContent 
{
	color: #303030;
}

.amlHlpHeader 
{
	color: #202020;
}

/* Icon Filenames */
.unshelveAlarm
{
	background-image:url(../Images/ClassicTheme/Unshelve.png);
}

.unshelveAlarm_ovr
{
	background-image:url(../Images/ClassicTheme/Unshelve.png);
}

.unshelveAlarmDisabled
{
	background-image:url(../Images/ClassicTheme/unshelveDisabled.png);
}

.alarmOverFlowAck
{
	background-image:url(../Images/ClassicTheme/Recover_Overflow.png);
}

.alarmOverFlowAck_ovr
{
	background-image:url(../Images/ClassicTheme/Recover_Overflow.png);
}

.alarmOverFlowAckDisabled
{
	background-image:url(../Images/ClassicTheme/Recover_Overflow.png);
}

.shelveAlarm, .dialogShelveAlarm
{
	background-image:url(../Images/ClassicTheme/Shelve.png);
}

.shelveAlarm_ovr, .dialogShelveAlarm_ovr
{
    background-image:url(../Images/ClassicTheme/Shelve.png);
}

.shelveAlarmDisabled, .dialogShelveAlarmDisabled
{
	background-image:url(../Images/ClassicTheme/shelveDisabled.png);
}

.pauseEnabled
{
	background-image:url(../Images/ClassicTheme/Pause.png);
}

.pauseEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/Pause.png);
}

.pauseDisabled
{
	background-image:url(../Images/ClassicTheme/PauseDisabled.png);
}

.silenceAudible
{
	background-image:url(../Images/ClassicTheme/Silence.png);
}

.AcknowledgePageEnabled
{
	background-image:url(../Images/ClassicTheme/Ack.png);
}

.AcknowledgePageEnabled_ovr
{
	background-image: url(../Images/ClassicTheme/Ack.png);
}

.AcknowledgePageDisabled
{
	background-image:url(../Images/ClassicTheme/AckDisabled.png);
}

.resumeEnabled
{
	background-image:url(../Images/ClassicTheme/Resume.png);
}

.resumeEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/Resume.png);
}

.resumeDisabled
{
	background-image:url(../Images/ClassicTheme/ResumeDisabled.png);
}

.generateEventEnabled
{
	background-image:url(../Images/ClassicTheme/generateEvents.png);
}

.generateEventEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/generateEvents.png);
}

.generateEventDisabled
{
	background-image:url(../Images/ClassicTheme/generateEventsDisabled.png);
}

.clearPageEnabled
{
	background-image:url(../Images/ClassicTheme/clearPageEnabled.png);
}

.clearPageDisabled
{
	background-image:url(../Images/ClassicTheme/clearPageDisabled.png);
}

.ClearFilter
{
	background-image:url(../Images/ClassicTheme/Filter.png);
}

.ClearFilter_ovr
{
	background-image:url(../Images/ClassicTheme/Filter.png);
}

.FilterDisabled
{
	background-image:url(../Images/ClassicTheme/FilterDisabled.png);
}

.resetViewClass
{
	background-image:url(../Images/ClassicTheme/Reset.png);
}

.resetViewClass_ovr
{
	background-image:url(../Images/ClassicTheme/Reset.png);
}

.resetViewDisabled
{
	background-image:url(../Images/ClassicTheme/ResetViewDisabled.png);
}

.systemStatusPaneEnabled
{
	background-image:url(../Images/ClassicTheme/SystemStatusPaneEnabled.png);
}

.systemStatusPaneEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/SystemStatusPaneEnabled.png);
}

.systemStatusPaneDisabled
{
	background-image:url(../Images/ClassicTheme/SystemStatusPaneDisabled.png);
}
.alarmTrendEnabled
{
	background-image:url(../Images/ClassicTheme/alarmTrend.png);
}

.alarmTrendEnabled_ovr, .alarmTrendSelected
{
	background-image:url(../Images/ClassicTheme/alarmTrend.png);
}

.alarmTrendDisabled
{
	background-image:url(../Images/ClassicTheme/alarmTrendDdisabled.png);
}

.viewConfigPaneEnabled
{
	background-image:url(../Images/ClassicTheme/ViewConfig.png);
}

.viewConfigPaneEnabled_ovr, .viewConfigPaneSelected
{
	background-image:url(../Images/ClassicTheme/ViewConfig.png);
}

.viewConfigPaneDisabled
{
	background-image:url(../Images/ClassicTheme/ViewConfigDisabled.png);
}

.areaPaneEnabled
{
	background-image:url(../Images/ClassicTheme/AreaPane.png);
}

.areaPaneEnabled_ovr, .areaPaneEnabledSelected
{
	background-image: url(../Images/ClassicTheme/AreaPane.png);
}

.areaPaneDisabled
{
	background-image:url(../Images/ClassicTheme/AreaPaneDisabled.png);
}

.statusPaneEnabled
{
	background-image:url(../Images/ClassicTheme/StatusPaneEnabled.png);
}

.statusPaneEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/StatusPaneEnabled.png);
}

.statusPaneDisabled
{
	background-image:url(../Images/ClassicTheme/StatusPaneDisabled.png);
}

.detailsPaneEnabled
{
	background-image:url(../Images/ClassicTheme/Details.png);
}

.detailsPaneEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/Details.png);
}

.detailsPaneDisabled
{
	background-image:url(../Images/ClassicTheme/DetailsDisabled.png);
}

.columnOrganizerEnabled
{
	background-image:url(../Images/ClassicTheme/ColumnOrganizer.png);
}

.columnOrganizerEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/ColumnOrganizer.png);
}

.csvExportEnabled
{
	background-image:url(../Images/ClassicTheme/CsvExport.png);
}

.csvExportEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/CsvExport.png);
}

.csvExportDisabled
{
	background-image:url(../Images/ClassicTheme/CsvExport.png); 
}

.columnOrganizerDisabled
{
	background-image:url(../Images/ClassicTheme/ColumnOrganizerDisabled.png);
}

.printAsReportEnabled
{
	background-image:url(../Images/ClassicTheme/Print.png);
}

.printAsReportEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/Print.png);
}

.printAsReportDisabled
{
	background-image:url(../Images/ClassicTheme/PrintDisabled.png);
}

.printPreviewEnabled
{
	background-image:url(../Images/ClassicTheme/Preview.png); 
}

.printPreviewEnabled_ovr
{
	background-image: url(../Images/ClassicTheme/Preview.png);
}

.printPreviewDisabled
{
	background-image:url(../Images/ClassicTheme/PreviewDisabled.png);
}

.dashboardBackEnabled
{
	background-image:url(../Images/ClassicTheme/DashboardBackEnabled.png);
}

.dashboardBackEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/DashboardBackEnabled.png);
}

.dashboardBackDisabled
{
	background-image:url(../Images/ClassicTheme/DashboardBackDisabled.png);
}

.pointDetailIcon
{
	background-image:url(../Images/ClassicTheme/PointDetails.png);
	}

.assDisplayIcon
{
	background-image:url(../Images/ClassicTheme/AssociatedDisplay.png);
}

.crdHldrIcon
{
	background-image:url(../Images/ClassicTheme/CardHolderDetails.gif);
}

.suppStatusIcon
{
	background-image:url(../Images/ClassicTheme/SuppressionStatus.png);
}

.lnkCustomIcon
{
	background-image:url(../Images/ClassicTheme/Link.png);
}

.saveDetailsDisabled
{
	background-image:url(../Images/ClassicTheme/SaveDisabled.png);
}

.saveDetailsEnabled
{
	background-image:url(../Images/ClassicTheme/Save.png);
}

.saveDetailsEnabled_ovr
{
	background-image:url(../Images/ClassicTheme/Save.png);
}

.saveViewBtnDisabled
{
	background-image:url(../Images/ClassicTheme/SaveDisabled.png);
}

.saveViewBtnEnabled
{
	background-image:url(../Images/ClassicTheme/Save.png);
}

.saveViewBtnEnabled_ovr
{
	background-image: url(../Images/ClassicTheme/Save.png);
}

.deleteViewEnabled
{
	border-color:transparent !important;
	background-image:url(../Images/ClassicTheme/Delete.png);
}

.deleteViewEnabled_ovr
{
	background-image: url(../Images/ClassicTheme/Delete.png);
}

.deleteViewDisabled
{
	border-color:transparent !important;
	background-image:url(../Images/ClassicTheme/DeleteDisabled.png);
}

.areaPaneClose
{
	background-image:url(../Images/ClassicTheme/Close.png);
}

.areaPaneClose_ovr
{
	background-image:url(../Images/ClassicTheme/Close.png);
}

.areaPaneOpen
{
	background-image:url(../Images/ClassicTheme/PinUp.png);
}

.areaPaneOpen_ovr
{
	background-image:url(../Images/ClassicTheme/PinUp.png);
}

.sysAlmHlpExpand
{
	background-image:url(../Images/ClassicTheme/imgExpand.png);
	background-repeat:no-repeat;
}

.sysAlmHlpCollapse
{
	background-image:url(../Images/ClassicTheme/imgCollapse.png);
	background-repeat:no-repeat;
}

}

/*=======================================================================
Context menu styles to switch icons
======================================================================*/


.contextMenu_Ack
{
	background-image:url(../Images/ClassicTheme/Ack.png);
	background-repeat:no-repeat;
}

.contextMenu_QuickShelve
{
	background-image:url(../Images/ClassicTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Shelve
{
	background-image:url(../Images/ClassicTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Unshelve
{
	background-image:url(../Images/ClassicTheme/Unshelve.png);
	background-repeat:no-repeat;
}

.contextMenu_PointDetail
{
	background-image:url(../Images/ClassicTheme/PointDetails.png);
	background-repeat:no-repeat;
}

.contextMenu_AssDisplay
{
	background-image:url(../Images/ClassicTheme/AssociatedDisplay.png);
	background-repeat:no-repeat;
}

.contextMenu_SuppStatus
{
	background-image:url(../Images/ClassicTheme/SuppressionStatus.png);
	background-repeat:no-repeat;
}

.contextMenu_AlarmHelp
{
	background-image:url(../Images/ClassicTheme/AlarmHelp.png);
	background-repeat:no-repeat;
}

.contextMenu_ClearFilters
{
    background-image:url(../Images/ClassicTheme/Filter.png);
	background-repeat:no-repeat;
}

.contextMenu_ColOrganiser
{
    background-image:url(../Images/ClassicTheme/ColumnOrganizer.png);
	background-repeat:no-repeat;
}

.contextMenu_Clear
{
    background-image:url(../Images/ClassicTheme/clearPageEnabled.png);
	background-repeat:no-repeat;
}

.contextMenu_Confirm
{
    background-image:url(../Images/ClassicTheme/confirm.png);
	background-repeat:no-repeat;
}

.contextMenu_ActGo
{
	background-image:url(../Images/ClassicTheme/context_act_cmd_go.png);
	background-repeat:no-repeat;
}

.contextMenu_ActHold
{
	background-image:url(../Images/ClassicTheme/context_act_cmd_hold.png);
	background-repeat:no-repeat;
}

.contextMenu_ActStop
{
	background-image:url(../Images/ClassicTheme/context_act_cmd_stop.png);
	background-repeat:no-repeat;
}

.contextMenu_ActRemove
{
	background-image:url(../Images/ClassicTheme/context_act_cmd_remove.png);
	background-repeat:no-repeat;
}

.contextMenu_ActAbort
{
	background-image:url(../Images/ClassicTheme/context_act_cmd_abort.png);
	background-repeat:no-repeat;
}

.contextMenu_PE
{
	background-image:url(../Images/ClassicTheme/ProcedureExplorer.png);
	background-repeat:no-repeat;
}

.contextMenu_Message {
	background-image: url(../Images/ClassicTheme/context_message.png);
	background-repeat: no-repeat;
}

/*=======================================================================
End Context menu styles to switch icons
======================================================================*/

/*=======================================================================
Batch related styles
======================================================================*/
.newActOptList
{
	background-color: #d4cfc9;
	border-color:#1792E5 !important;
	color:#404040;
}

.newActOptListHover
{
	background-color: #d4cfc9;
	border-color:#1173b5 !important;
	color:#404040;
}

.btnNewActDList
{
	border-color:#1792E5;
	color:#1792E5 !important;
	background-image:url(../Images/ClassicTheme/act_new_activity.png);
}

.btnNewActDListHover
{
	border-color:#1173b5;
	color:#1173b5 !important;
	background-image:url(../Images/ClassicTheme/act_new_activity.png);
}

.btnNewActDisabledList
{
	color:#808080;
	border-color:#beb9b4 !important;
	background-color:#beb9b4;
	background-image:url(../Images/ClassicTheme/act_new_activity_disabled.png);
}

.newBatchBtn_ovr, .newProcedureBtn_ovr
{
	background-color: #B0B0B0 !important;
	color:#303030 !important;
}

.btnNewBatch, .btnNewProcedure
{
	color:#1792E5;
	border-color:#1792E5 !important;
	background-image:url(../Images/ClassicTheme/act_new_activity.png);
}

.btnNewBatchHover, .btnNewProcedureHover
{
	color:#1173b5;
	border-color:#1173b5 !important;
	background-image:url(../Images/LightTheme/act_new_activity.png);
}

.btnNewBatchDisabled, .btnNewProcedureDisabled
{
	color:#808080;
	border-color:#beb9b4 !important;
	background-color:#beb9b4;
	background-image:url(../Images/ClassicTheme/act_new_activity_disabled.png);
}

.divActivityCommandLabel {
	color: #000000;
}

.btnGoEnabled, .btnHoldEnabled, .btnStopEnabled, .btnAbortEnabled, .btnRemoveEnabled
{
	color:#303030;
	border-color:#beb9b4;
	background-color:#beb9b4;
}

.btnGoEnabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_go.png);
}

.btnHoldEnabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_hold.png);
}

.btnStopEnabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_stop.png);
}

.btnAbortEnabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_abort.png);
}

.btnRemoveEnabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_remove.png);
}

.btnGoDisabled, .btnHoldDisabled, .btnStopDisabled, .btnAbortDisabled, .btnRemoveDisabled
{
	color:#808080;
	border-color:#beb9b4;
	background-color:#beb9b4;
}

.btnGoDisabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_go_disabled.png);
}

.btnHoldDisabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_hold_disabled.png);
}

.btnStopDisabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_stop_disabled.png);
}

.btnAbortDisabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_abort_disabled.png);
}

.btnRemoveDisabled
{
	background-image:url(../Images/ClassicTheme/act_cmd_remove_disabled.png);
}

.btnGoHover, .btnHoldHover, .btnStopHover, .btnAbortHover, .btnRemoveHover
{
	color:#FFFFFF;
	border-color:#23608C;
	background-color:#23608C;
}

.btnGoHover
{
	background-image:url(../Images/DarkTheme/act_cmd_go.png);
}

.btnHoldHover
{
	background-image:url(../Images/DarkTheme/act_cmd_hold.png);
}

.btnStopHover
{
	background-image:url(../Images/DarkTheme/act_cmd_stop.png);
}

.btnAbortHover
{
	background-image:url(../Images/DarkTheme/act_cmd_abort.png);
}

.btnRemoveHover
{
	background-image:url(../Images/DarkTheme/act_cmd_remove.png);
}

/*=======================================================================
End Batch related styles
======================================================================*/

/*=======================================================================
Message summary instruction response interface styles
======================================================================*/

.iri_fieldLabel, .iri_writableFieldLabel {
    color: #606060;
    hw-text-color: #606060;
}

.iri_fieldData, .iri_renderedText, .iri_dynamicInstuctionAlpha, .iri_renderedTextLabel {
    color: #000000;
    hw-text-color: #000000;
}

.iri_writeableField {
    background-color: #DAD5D0;
    hw-fill-color: #DAD5D0;
}

.iri_content {
    background-color: #DAD5D0;
    hw-fill-color:  #DAD5D0;
}

.iri_divSeparator {
    background-color: #C4C1BD;
    hw-fill-color:  #C4C1BD;
}

.iri_disabled {
    background-color: #404040 !important;
    color: #808080 !important;
}

.iri_Column {
    hw-fill-color: #D4CFC9;
    color: #D4CFC9;
    background-color: #D4CFC9;
}

.iri_combobox
{
    hw-text-color: #000000;
    hw-fill-color: #FFFFFF;
    hw-line-color: #808080;
    hw-combo-style: normal;
}

.spanLiveValuePlaceHolder {
    border-color: #A0A0A0;
}