#Selected_Active_Cells
{
	background-color:#1792e5;
	color:#fff;
}

#Selected_Active_Unassigned_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Inactive_Cells
{
	background-color:#1792e5;
	color:#fff;
}

#Selected_Inactive_Unassigned_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Unassigned_Cells
{
	color:#8d8882;
}

#Table
{
	background-color:#303030;
	border-color:#303030;
	color:#c0c0c0;
}
#divUnackFilteredTotal,
#divUnackUnfilteredTotal,
#divAckFilteredTotal,
#divAckUnfilteredTotal,
#divShelvedFilteredTotal,
#divShelvedUnfilteredTotal,
#divSuppressedFilteredTotal,
#divSuppressedUnfilteredTotal
{
	color: #c0c0c0;
}

.addCommentsTxt
{
	border-color:#404040;
	background-color:#303030;
	color:#c0c0c0;
	
}

.displayTitle
{
	color: #FFFFFF;
}

.linkTextVisible
{
	color:#a0a0a0;
}

.cmbActivityCommand
{
	hw-text-color: #ffffff;
	hw-fill-color: #4e4e4e;
	hw-combo-button-arrow-color: #ffffff;
}

.SYSTEM_LINK
{
	color: #c0c0c0;
}

#divEventCount
{
	color:#c0c0c0 !important;
}

/* from common color */

html, body, #Background
{
	color:#FFFFFF;
	/* change all of these for flat */
	scrollbar-3dlight-color:#303030;
	scrollbar-darkshadow-color:#303030;
	scrollbar-track-color:#404040;
	scrollbar-highlight-color:#303030;
	scrollbar-shadow-color:#303030;
	
	scrollbar-base-color:#FFFFFF;

	scrollbar-face-color:#101010;
	scrollbar-arrow-color:#808080;
	
	
	
	background-color:#303030;
}

#Page
{
        color:#c0c0c0;
}

.ViewConfigPaneClass
{
	border-color:#404040 !important;
}

.PANE_HEADER
{
	border-color:#404040;
	background:#404040;
	color:#FFFFFF;
}

.PANE_BODY
{
	border: 1px solid #404040;
	background-color:#303030;
	color:#c0c0c0;
}

.PANE_BODY table
{
	color:#b3b3b3;
}


.HDXTBL_COLHEAD
{
	border-color:#101010;
	background:#404040;
	color:#c0c0c0;
}

.HDX_MENU
{
	background:#404040;
	border-color:#404040;
	color: #c0c0c0;
}

[disabled].HDX_MENUITEM {
	color: #808080;
}

.summaryBtnTab
{
	border-color:#404040;
	background-color:#404040;
	color:#969da3;
}

.summaryBtnTabSelected
{
	border-color:#404040;
	background-color:#303030;
	color:#d0d0d0;
}

.summaryTabContainer
{
	border-color:#404040;
	background:#303030;
}

.DetailsPaneClass
{
	border-color:#404040 !important;
}

.existCommentsClass
{
	background:transparent;
	border-color:#404040;
	color:#c0c0c0;
}

.pauseBtnMsg
{
	background: transparent;
	color:#969da3;
}

.lblFilter
{
	color:#969da3; /*/314142*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.AreaPaneClass
{
	border-color:#404040;
}

.shelveAlarm, .shelveAlarm_ovr, .unshelveAlarm, .unshelveAlarm_ovr,
.pauseEnabled, .pauseEnabled_ovr, .AcknowledgePageEnabled, .AcknowledgePageEnabled_ovr,
.dialogShelveAlarm, .dialogShelveAlarm_ovr, .resumeEnabled, .resumeEnabled_ovr,
.generateEventEnabled, .generateEventEnabled_ovr, .clearPageEnabled, .clearPageEnabled_ovr, .alarmOverFlowAck_ovr,
.audibleSuppressionEnabled, .audibleSuppressionEnabled_ovr, .silenceAudible
{
	color:#c0c0c0;
}

.unshelveAlarm_ovr, .pauseEnabled_ovr, .AcknowledgePageEnabled_ovr, .shelveAlarm_ovr,
.dialogShelveAlarm_ovr, .resumeEnabled_ovr, .generateEventEnabled_ovr, .clearPageEnabled_ovr,
.audibleSuppressionEnabled_ovr, .alarmOverFlowAck_ovr, .ClearFilter_ovr, .resetViewClass_ovr, .saveViewBtnEnabled_ovr,
.deleteViewEnabled_ovr, .areaPaneClose_ovr, .areaPaneOpen_ovr, .saveDetailsEnabled_ovr, .silenceAudible_ovr
{
	background-color:#1792e5 !Important;
	color:#FFFFFF;
}
.shelveAlarmDisabled, .dialogShelveAlarmDisabled, .unshelveAlarmDisabled, .pauseDisabled, .resumeDisabled, .saveDetailsDisabled, .saveViewBtnDisabled, .deleteViewDisabled, .AcknowledgePageDisabled
{
	cursor:default;
	color: #404040;
}

input.inputValue, .inputValue, .gsInputValue, select .gsInputValue, .viewTxtAreaName
{
	color:#c0c0c0;
	background:#303030;
	border-color:#404040;
}


.viewTxtAreaNameDisabled
{
	color:#000;
	background:transparent;
	border-color:#404040;
}

.addCommentsTxt
{
	color:#c0c0c0;
	background:#303030;
	border-color:#404040;
}

.filter_text
{
	color:#2c95d2; /*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.unfilter_text
{
	color:#FFFFFF;
}

.saveDetailsEnabled
{
	color:#b3b3b3;
}


	


.spanViewListClass
{
	background:#303030;
	border-color:#26374b;
}

	
.dropAreaPaneEnabled_ovr, .btnDropViewList_ovr
{
	color:#FFFFFF;
	border-color:#1792e5 !Important;
	background:#1792e5 !important;
}

.sysSumTopBand
{
	background: #404040 !important;
	color: #FFFFFF !important;
}

.selectNoneBtn
{
	background:#404040;
	color:#cdcecf;
	border-color: #303030 !important;
}
.alarmColHeading
{
	background:#606060;
	border-color:#606060;
	color: #d2d7dd;
}

.alarmColHeading .blankHeader
{
	color: #ffffff;
	background-color: #606060;
}

.MENUITEM_HOVER
{
	background-color:#1792e5;
	color:#FFFFFF;
}


.alarmTrendEnabled_ovr, .alarmTrendSelected, .viewConfigPaneEnabled_ovr, .viewConfigPaneSelected,
.areaPaneEnabled_ovr, .areaPaneEnabledSelected, .statusPaneEnabled_ovr, .detailsPaneEnabled_ovr,
.columnOrganizerEnabled_ovr, .printAsReportEnabled_ovr, .printPreviewEnabled_ovr, .csvExportEnabled_ovr, .systemStatusPaneEnabled_ovr,
.dashboardBackEnabled_ovr
{
	background-color:#606060;
}

.linkText
{
	color:#c0c0c0;
}

.TabSet
{
	background:#f4f4ee;
}

.locationBrowserDisabled
{
	color:#acb5b9;
	background:#d7dcde;
	border-color:#d3d6d8;
}

.locationBrowserEnabled
{
	background:#dddce3 !important;
	border-color:#cdcab9 !important;
}

.almHlpSmallItemLabel 
{
	background-color: #404040;
	color: #D0D0D0;
}

.almHlpSmallItemValue 
{
	color: #D0D0D0;
}

.almHlpItemHead
{
	background-color: #404040;
	color: #D0D0D0;
}

.almHlpItemContent, .sysAlmHlpContent 
{
	color: #D0D0D0;
}

.amlHlpHeader 
{
	color: #D0D0D0;
}

/* Icon Filenames */
.unshelveAlarm
{
	background-image:url(../Images/DarkTheme/Unshelve.png);
}

.unshelveAlarm_ovr
{
	background-image:url(../Images/DarkTheme/Unshelve.png);
}

.unshelveAlarmDisabled
{
	background-image:url(../Images/DarkTheme/unshelveDisabled.png);
}

.alarmOverFlowAck
{
	background-image:url(../Images/DarkTheme/Recover_Overflow.png);
}

.alarmOverFlowAck_ovr
{
	background-image:url(../Images/DarkTheme/Recover_Overflow.png);
}

.alarmOverFlowAckDisabled
{
	background-image:url(../Images/DarkTheme/Recover_Overflow.png);
}

.shelveAlarm, .dialogShelveAlarm
{
	background-image:url(../Images/DarkTheme/Shelve.png);
}

.shelveAlarm_ovr, .dialogShelveAlarm_ovr
{
    background-image:url(../Images/DarkTheme/Shelve.png);
}

.shelveAlarmDisabled, .dialogShelveAlarmDisabled
{
	background-image:url(../Images/DarkTheme/shelveDisabled.png);
}

.pauseEnabled
{
	background-image:url(../Images/DarkTheme/Pause.png);
}

.pauseEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Pause.png);
}

.pauseDisabled
{
	background-image:url(../Images/DarkTheme/PauseDisabled.png);
}

.silenceAudible
{
	background-image:url(../Images/DarkTheme/Silence.png);
}

.AcknowledgePageEnabled
{
	background-image:url(../Images/DarkTheme/Ack.png);
}

.AcknowledgePageEnabled_ovr
{
	background-image: url(../Images/DarkTheme/Ack.png);
}

.AcknowledgePageDisabled
{
	background-image:url(../Images/DarkTheme/AckDisabled.png);
}

.resumeEnabled
{
	background-image:url(../Images/DarkTheme/Resume.png);
}

.resumeEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Resume.png);
}

.resumeDisabled
{
	background-image:url(../Images/DarkTheme/ResumeDisabled.png);
}

.generateEventEnabled
{
	background-image:url(../Images/DarkTheme/generateEvents.png);
}

.generateEventEnabled_ovr
{
	background-image:url(../Images/DarkTheme/generateEvents.png);
}

.generateEventDisabled
{
	background-image:url(../Images/DarkTheme/generateEventsDisabled.png);
}

.clearPageEnabled
{
	background-image:url(../Images/DarkTheme/clearPageEnabled.png);
}

.clearPageDisabled
{
	background-image:url(../Images/DarkTheme/clearPageDisabled.png);
}

.ClearFilter
{
	background-image:url(../Images/DarkTheme/Filter.png);
}

.ClearFilter_ovr
{
	background-image:url(../Images/DarkTheme/Filter.png);
}

.FilterDisabled
{
	background-image:url(../Images/DarkTheme/FilterDisabled.png);
}

.resetViewClass
{
	background-image:url(../Images/DarkTheme/Reset.png);
}

.resetViewClass_ovr
{
	background-image:url(../Images/DarkTheme/ResetView.png);
}

.resetViewDisabled
{
	background-image:url(../Images/DarkTheme/ResetViewDisabled.png);
}

.systemStatusPaneEnabled
{
	background-image:url(../Images/DarkTheme/SystemStatusPaneEnabled.png);
}

.systemStatusPaneEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Selected/SystemStatusPaneEnabled_Selected.png);
}

.systemStatusPaneDisabled
{
	background-image:url(../Images/DarkTheme/SystemStatusPaneDisabled.png);
}
.alarmTrendEnabled
{
	background-image:url(../Images/DarkTheme/alarmTrend.png);
}

.alarmTrendEnabled_ovr, .alarmTrendSelected
{
	background-image:url(../Images/DarkTheme/selected/alarmTrend_selected.png);
}

.alarmTrendDisabled
{
	background-image:url(../Images/DarkTheme/alarmTrendDdisabled.png);
}

.viewConfigPaneEnabled
{
	background-image:url(../Images/DarkTheme/ViewConfig.png);
}

.viewConfigPaneEnabled_ovr, .viewConfigPaneSelected
{
	background-image:url(../Images/DarkTheme/selected/ViewConfig_selected.png);
}

.viewConfigPaneDisabled
{
	background-image:url(../Images/DarkTheme/ViewConfigDisabled.png);
}

.areaPaneEnabled
{
	background-image:url(../Images/DarkTheme/AreaPane.png);
}

.areaPaneEnabled_ovr, .areaPaneEnabledSelected
{
	background-image: url(../Images/DarkTheme/Selected/AreaPane_selected.png);
}

.areaPaneDisabled
{
	background-image:url(../Images/DarkTheme/AreaPaneDisabled.png);
}

.statusPaneEnabled
{
	background-image:url(../Images/DarkTheme/StatusPaneEnabled.png);
}

.statusPaneEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Selected/StatusPaneEnabled_Selected.png);
}

.statusPaneDisabled
{
	background-image:url(../Images/DarkTheme/StatusPaneDisabled.png);
}

.detailsPaneEnabled
{
	background-image:url(../Images/DarkTheme/Details.png);
}

.detailsPaneEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Selected/Details_selected.png);
}

.detailsPaneDisabled
{
	background-image:url(../Images/DarkTheme/DetailsDisabled.png);
}

.columnOrganizerEnabled
{
	background-image:url(../Images/DarkTheme/ColumnOrganizer.png);
}

.columnOrganizerEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Selected/ColumnOrganizer_selected.png);
}

.csvExportEnabled
{
	background-image:url(../Images/DarkTheme/CsvExport.png);
}

.csvExportEnabled_ovr
{
	background-image: url(../Images/DarkTheme/Selected/CsvExport_selected.png);
}

.csvExportDisabled
{
	background-image:url(../Images/DarkTheme/CsvExport.png);
}

.columnOrganizerDisabled
{
	background-image:url(../Images/DarkTheme/ColumnOrganizerDisabled.png);
}

.printAsReportEnabled
{
	background-image:url(../Images/DarkTheme/Print.png);
}

.printAsReportEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Selected/Print_selected.png);
}

.printAsReportDisabled
{
	background-image:url(../Images/DarkTheme/PrintDisabled.png);
}

.printPreviewEnabled
{
	background-image:url(../Images/DarkTheme/Preview.png); 
}

.printPreviewEnabled_ovr
{
	background-image: url(../Images/DarkTheme/Selected/Preview_selected.png);
}

.printPreviewDisabled
{
	background-image:url(../Images/DarkTheme/PreviewDisabled.png);
}

.dashboardBackEnabled
{
	background-image:url(../Images/DarkTheme/DashboardBackEnabled.png);
}

.dashboardBackEnabled_ovr
{
	background-image:url(../Images/DarkTheme/DashboardBackEnabled.png);
}

.dashboardBackDisabled
{
	background-image:url(../Images/DarkTheme/DashboardBackDisabled.png);
}

.pointDetailIcon
{
	background-image:url(../Images/DarkTheme/PointDetails.png);
	}

.assDisplayIcon
{
	background-image:url(../Images/DarkTheme/AssociatedDisplay.png);
}

.crdHldrIcon
{
	background-image:url(../Images/DarkTheme/CardHolderDetails.gif);
}

.suppStatusIcon
{
	background-image:url(../Images/DarkTheme/SuppressionStatus.png);
}

.lnkCustomIcon
{
	background-image:url(../Images/DarkTheme/Link.png);
}

.saveDetailsDisabled
{
	background-image:url(../Images/DarkTheme/SaveDisabled.png);
}

.saveDetailsEnabled
{
	background-image:url(../Images/DarkTheme/Save.png);
}

.saveDetailsEnabled_ovr
{
	background-image:url(../Images/DarkTheme/Save.png);
}

.saveViewBtnDisabled
{
	background-image:url(../Images/DarkTheme/SaveDisabled.png);
}

.saveViewBtnEnabled
{
	background-image:url(../Images/DarkTheme/Save.png);
}

.saveViewBtnEnabled_ovr
{
	background-image: url(../Images/DarkTheme/Save.png);
}

.deleteViewEnabled
{
	border-color:transparent !important;
	background-image:url(../Images/DarkTheme/Delete.png);
}

.deleteViewEnabled_ovr
{
	background-image: url(../Images/DarkTheme/Delete.png);
}

.deleteViewDisabled
{
	border-color:transparent !important;
	background-image:url(../Images/DarkTheme/DeleteDisabled.png);
}

.areaPaneClose
{
	background-image:url(../Images/DarkTheme/Close.png);
}

.areaPaneClose_ovr
{
	background-image:url(../Images/DarkTheme/Close.png);
}

.areaPaneOpen
{
	background-image:url(../Images/DarkTheme/PinUp.png);
}

.areaPaneOpen_ovr
{
	background-image:url(../Images/DarkTheme/PinUp.png);
}

.sysAlmHlpExpand
{
	background-image:url(../Images/DarkTheme/imgExpand.png);
	background-repeat:no-repeat;
}

.sysAlmHlpCollapse
{
	background-image:url(../Images/DarkTheme/imgCollapse.png);
	background-repeat:no-repeat;
}

/*=======================================================================
Context menu styles to switch icons
======================================================================*/
.contextMenu_Ack
{
	background-image:url(../Images/DarkTheme/Ack.png);
	background-repeat:no-repeat;
}

.contextMenu_QuickShelve
{
	background-image:url(../Images/DarkTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Shelve
{
	background-image:url(../Images/DarkTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Unshelve
{
	background-image:url(../Images/DarkTheme/Unshelve.png);
	background-repeat:no-repeat;
}

.contextMenu_PointDetail
{
	background-image:url(../Images/DarkTheme/PointDetails.png);
	background-repeat:no-repeat;
}

.contextMenu_AssDisplay
{
	background-image:url(../Images/DarkTheme/AssociatedDisplay.png);
	background-repeat:no-repeat;
}

.contextMenu_SuppStatus
{
	background-image:url(../Images/DarkTheme/SuppressionStatus.png);
	background-repeat:no-repeat;
}

.contextMenu_AlarmHelp
{
	background-image:url(../Images/DarkTheme/AlarmHelp.png);
	background-repeat:no-repeat;
}


.contextMenu_ClearFilters
{
    background-image:url(../Images/DarkTheme/Filter.png);
	background-repeat:no-repeat;
}

.contextMenu_ColOrganiser
{
    background-image:url(../Images/DarkTheme/ColumnOrganizer.png);
	background-repeat:no-repeat;
}

.contextMenu_Clear
{
    background-image:url(../Images/DarkTheme/clearPageEnabled.png);
	background-repeat:no-repeat;
}

.contextMenu_Confirm
{
    background-image:url(../Images/DarkTheme/confirm.png);
	background-repeat:no-repeat;
}

.contextMenu_ActGo
{
	background-image:url(../Images/DarkTheme/context_act_cmd_go.png);
	background-repeat:no-repeat;
}

.contextMenu_ActHold
{
	background-image:url(../Images/DarkTheme/context_act_cmd_hold.png);
	background-repeat:no-repeat;
}

.contextMenu_ActStop
{
	background-image:url(../Images/DarkTheme/context_act_cmd_stop.png);
	background-repeat:no-repeat;
}

.contextMenu_ActRemove
{
	background-image:url(../Images/DarkTheme/context_act_cmd_remove.png);
	background-repeat:no-repeat;
}

.contextMenu_ActAbort
{
	background-image:url(../Images/DarkTheme/context_act_cmd_abort.png);
	background-repeat:no-repeat;
}

.contextMenu_PE
{
	background-image:url(../Images/DarkTheme/ProcedureExplorer.png);
	background-repeat:no-repeat;
}

.contextMenu_Message {
	background-image: url(../Images/DarkTheme/context_message.png);
	background-repeat: no-repeat;
}


/*=======================================================================
End Context menu styles to switch icons
======================================================================*/

/*=======================================================================
Batch related styles
======================================================================*/
.newActOptList
{
	background-color: #303030;
	border-color:#1792E5 !important;
	color:#909090;
}

.newActOptListHover
{
	background-color: #303030;
	border-color:#1173b5 !important;
	color:#909090;
}

.btnNewActDList
{
	border-color:#1792E5 !important;
	background-image:url(../Images/DarkTheme/act_new_activity.png);
}

.btnNewActDListHover
{
	border-color:#1173b5 !important;
	background-image:url(../Images/DarkTheme/act_new_activity.png);
}

.btnNewActDisabledList
{
	color:#808080;
	border-color:#505050 !important;
	background-color:#505050;
    background-image:url(../Images/DarkTheme/act_new_activity_disabled.png);
}

.newBatchBtn_ovr, .newProcedureBtn_ovr
{
	background-color: #505050 !important;
	color:#909090 !important;
}

.btnNewBatch, .btnNewProcedure
{
	border-color:#1792E5 !important;
	background-image:url(../Images/DarkTheme/act_new_activity.png);
}

.btnNewBatchHover, .btnNewProcedureHover
{
	border-color:#1173b5 !important;
	background-image:url(../Images/DarkTheme/act_new_activity.png);
}

.btnNewBatchDisabled, .btnNewProcedureDisabled
{
	color:#808080;
	border-color:#505050 !important;
	background-image:url(../Images/DarkTheme/act_new_activity_disabled.png);
}

.divActivityCommandLabel {
	color: #a0a0a0;
}

.btnGoEnabled, .btnHoldEnabled, .btnStopEnabled, .btnAbortEnabled, .btnRemoveEnabled
{
	border-color:#505050;
	background-color:#505050;
}

.btnGoEnabled
{
	background-image:url(../Images/DarkTheme/act_cmd_go.png);
}

.btnHoldEnabled
{
	background-image:url(../Images/DarkTheme/act_cmd_hold.png);
}

.btnStopEnabled
{
	background-image:url(../Images/DarkTheme/act_cmd_stop.png);
}

.btnAbortEnabled
{
	background-image:url(../Images/DarkTheme/act_cmd_abort.png);
}

.btnRemoveEnabled
{
	background-image:url(../Images/DarkTheme/act_cmd_remove.png);
}

.btnGoDisabled, .btnHoldDisabled, .btnStopDisabled, .btnAbortDisabled, .btnRemoveDisabled
{
	color:#808080;
	border-color:#505050;
	background-color:#505050;
}

.btnGoDisabled
{
	background-image:url(../Images/DarkTheme/act_cmd_go_disabled.png);
}

.btnHoldDisabled
{
	background-image:url(../Images/DarkTheme/act_cmd_hold_disabled.png);
}

.btnStopDisabled
{
	background-image:url(../Images/DarkTheme/act_cmd_stop_disabled.png);
}

.btnAbortDisabled
{
	background-image:url(../Images/DarkTheme/act_cmd_abort_disabled.png);
}

.btnRemoveDisabled
{
	background-image:url(../Images/DarkTheme/act_cmd_remove_disabled.png);
}

.btnGoHover, .btnHoldHover, .btnStopHover, .btnAbortHover, .btnRemoveHover
{
	color:#FFFFFF;
	border-color:#23608C;
	background-color:#23608C;
}

.btnGoHover
{
	background-image:url(../Images/DarkTheme/act_cmd_go.png);
}

.btnHoldHover
{
	background-image:url(../Images/DarkTheme/act_cmd_hold.png);
}

.btnStopHover
{
	background-image:url(../Images/DarkTheme/act_cmd_stop.png);
}

.btnAbortHover
{
	background-image:url(../Images/DarkTheme/act_cmd_abort.png);
}

.btnRemoveHover
{
	background-image:url(../Images/DarkTheme/act_cmd_remove.png);
}

/*=======================================================================
End Batch related styles
======================================================================*/


/*=======================================================================
Message summary instruction response interface styles
======================================================================*/

.iri_fieldLabel, .iri_writableFieldLabel {
    color: #808080;
    hw-text-color: #808080;
}

.iri_fieldData, .iri_renderedText, .iri_dynamicInstuctionAlpha, .iri_renderedTextLabel {
    color: #C0C0C0;
    hw-text-color: #C0C0C0;
}

.iri_writeableField {
    background-color: #282828;
    hw-fill-color: #282828;
}


.iri_content {
    background-color: #303030;
    hw-fill-color:  #303030;
}

.iri_divSeparator {
    background-color: #6A6A6A;
    hw-fill-color:  #6A6A6A;
}

.iri_disabled {
    background-color: #404040 !important;
    color: #808080 !important;
}

.iri_Column {
    hw-fill-color: #404040;
    color: #404040;
    background-color: #404040;
}

.iri_combobox
{
    hw-text-color: #a0a0a0;
    hw-fill-color: #282828;
    hw-combo-style: flat;
    hw-combo-button-arrow-color: #a0a0a0;
    hw-combo-button-color: #282828;	
}

.spanLiveValuePlaceHolder {
    border-color: #606060;
}
