
.dashboardGroupingBox
{
	hw-line-style: none;
	hw-line-width: 6;
	hw-fill-style: transparent;
	z-index: -4;
}

.dashboardGroupingLabel
{
	hw-text-size: 12pt;
	z-index: -3;
}

.dashboardLine
{
	hw-line-style: none;
	hw-line-width: 1;
	z-index: -2;
}

.dashboardLineAnnotation
{
	hw-text-size: 10pt;
	z-index: -1;
}

.dashboardTextTips
{
	hw-text-size: 10pt;
	visibility: hidden;
}

.shapeLabel
{
	hw-text-size: 8pt;
}

.shapeOutline
{
	hw-line-style: none;
	hw-line-width: 1;
	hw-fill-style: transparent;
}

.shapeOutlineFill
{
	hw-line-style: none;
	hw-line-width: 1;
}

.shapeCompositeTab
{
	hw-line-style: transparent;
}

.shapeSelectionBox
{
	hw-line-style: none;
	hw-line-width: 2;
	hw-fill-style: transparent;
}

.shapeTitle,
.shapeSubType
{
	font-family: Arial Narrow !important;
	font-size: 11px !important;
	letter-spacing: 0;
	text-align: center;
	font-weight: bold !important;
	line-height: 12px;
}

.shapeSelectBorder
{
	border: 3px solid !important;
}

.shapeSelectBorder
{
	border: 2px solid;
}

.statusText,
.compMenuStatusText,
.okStatusText
{
	font-size: 7pt !important;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial-BoldMT !important;
	font-weight: bold !important;
}

.okStatusText
{
	hw-text-color: #808080;
}

.menuDescription
{
	font-size: 7pt !important;
	font-family: Arial-BoldMT !important;
	line-height: 15px !important;
	display: inline-block;
	vertical-align: middle;
}

.DashboardLink
{
	cursor: hand;
}

.compSelectBorder
{
	border: 2px solid;
	border-color: #1792E5 !important;
}