
.dashboardGroupingBox
{
	hw-line-color: #b9bdc1;
}

.dashboardGroupingLabel
{
	hw-text-color: #999da1;
}

.dashboardLine
{
	hw-line-color: #808080;
}

.dashboardLineAnnotation
{
	hw-text-color: #404b56;
}

.dashboardTextTips
{
	hw-text-color: #ff0000;
}

.dashboardBackground
{
	hw-fill-color: #e0e0e0;
}

.shapeLabel
{
	hw-text-color: #404b56;
}

.shapeOutline
{
	hw-line-color: #808080;
}

.shapeOutlineFill
{
	hw-line-color: #808080;
	hw-fill-color: #808080;
}

.shapeCompositeTab
{
	hw-fill-color: #B0B0B0;
}

.shapeSelectionBox
{
	hw-line-color: #1782E5;
}

.shapeBackground
{
	background-color: #D0D0D0;
}

.shapeBackgroundOff 
{
	background-color: #DBDBDB;
}

.shapeTitle
{
	hw-text-color: #303030;
}

.shapeSubType
{
	color: #808080 !important;
}

.shapeSelectBorder
{
	border-color: #1792E5 !important;
}

.compositeMenuBackground
{
	background-color: #e0e0e0;
	border: 2px solid #808080;
}

.menuDescription
{
	background-color: #808080 !important;
	color: #303030 !important;
}

.msgText
{
	font-size: 14px;
	color: #303030 !important;
}