/*=======================================================================
Alarm, Events and System Summary style
======================================================================*/
.summaryToolbar, #AreaAndViewToolbar
{
	background:transparent;
	border-color:transparent;
}

.systemContentBackground
{
	hw-fill-color:#d4cfc9;
	hw-line-color:transparent;
}

.SYSTEM_LINK
{
	color: #444444;
}

.DTLPANE_FIELD
{
	color:#000;
}

.DTLPANE_VALUE
{
	color:#000;
}

.GridPaneClass
{
	border-color:#b1b7ba;
	background:#f0f0f0;
}
.PANE_RESIZER_PAD
{
	background-color:transparent;
}

.PANE_HEADER
{
	text-align:left;
}

.downArrow
{
	hw-fill-color: #838383;
	hw-line-color: transparent;
}

.shelveAlarm, .unshelveAlarm, .pauseEnabled, .AcknowledgePageEnabled, .dialogShelveAlarm,
.resumeEnabled, .generateEventEnabled, .clearPageEnabled, .shelveAlarmDisabled, .unshelveAlarmDisabled,
.pauseDisabled, .AcknowledgePageDisabled, .dialogShelveAlarmDisabled, .resumeDisabled,
.generateEventDisabled, .clearPageDisabled, .alarmOverFlowAckDisabled, .alarmOverFlowAck,
.audibleSuppressionEnabled, .audibleSuppressionDisabled, .silenceAudible
{
	border-color:transparent !Important;
}

.dropAreaPaneEnabled, .btnDropViewList
{
	border-color:transparent !Important;
}
	
	
/*=======================================================================
Message summary instruction response interface styles
======================================================================*/

.iri_btnConfirm {
    background-color: #1792E5;
    color: #FFFFFF !important;
}

.iri_btnConfirm_hover { 
    background-color: #1272B2;
} 

.iri_btnConfirm_down { 
    background-color: #23608C;
} 

.iri_writeableField {
    hw-line-width: 1 !important;
    hw-line-style: solid !important;
    hw-line-color: #1792E5 !important;
}
/*================ Ends Here =================================*/
