#Selected_Active_Cells
{
	background-color:#1792e5;
	color:#fff;
}

#Selected_Active_Unassigned_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Inactive_Cells
{
	background-color:#1792e5;
	color:#fff;
}

#Selected_Inactive_Unassigned_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Unassigned_Cells
{
	color:#8d8882;
}

#Table
{
	background-color:#dcdee0;
	border-color:#dcdee0;
	color:#404040;
}

#divUnackFilteredTotal,
#divUnackUnfilteredTotal,
#divAckFilteredTotal,
#divAckUnfilteredTotal,
#divShelvedFilteredTotal,
#divShelvedUnfilteredTotal,
#divSuppressedFilteredTotal,
#divSuppressedUnfilteredTotal
{
	color: #404040;
}

.addCommentsTxt
{
	border-color:#c0c0c0;
	background-color:#dcdee0;
	color:#404040;
}

.displayTitle
{
	color: #404040;
}

.linkTextVisible
{
	color:#707070;
}

.cmbActivityCommand
{
	hw-text-color: #303030;
	hw-fill-color: #c0c0c0;
	hw-combo-button-arrow-color: #303030;
}

#divEventCount
{
	color:#404040 !important;
}

/* from common color */

html, body, #Background
{
	color:#FFFFFF;
	/* change all of these for flat */
	scrollbar-3dlight-color:#d0d0d0;
	scrollbar-darkshadow-color:#d0d0d0;
	scrollbar-track-color:#d0d0d0;
	scrollbar-highlight-color:#d0d0d0;
	scrollbar-shadow-color:#d0d0d0;
	
	scrollbar-base-color:#FFFFFF;

	scrollbar-face-color:#dcdee0;
	scrollbar-arrow-color:#747c84;
	
	background-color:#D0D0D0;
}

#Page
{
	color:#404040;
	
}
.ViewConfigPaneClass
{
	border-color:#d0d0d0 !important;
}

.PANE_HEADER
{
	border-color:#d0d0d0;
	background:#d0d0d0;
	color:#404040;
	}
	
.PANE_BODY
{
	border: 1px solid #d0d0d0;
	background-color:#e0e0e0;
	color:#404040;
}

.PANE_BODY table
{
	color:#404040;
}


.HDXTBL_COLHEAD
{
	border-color:#dcdee0;
	background:#d0d0d0;
	color:#404040;
}

.HDX_MENU
{
	background:#d0d0d0;
	border-color:#e0e0e0;
	color: #404040;
}

[disabled].HDX_MENUITEM {
	color: #a0a0a0;
}

.summaryBtnTab
{
	border-color:#c0c0c0;
	background-color:#c0c0c0;
	color:#2e3b47;
}

.summaryBtnTabSelected
{
	border-color:#d0d0d0;
	background-color:#e0e0e0;
	color:#404040;
}

.summaryTabContainer
{
	border-color:#d0d0d0;
	background:#e0e0e0;
}

.DetailsPaneClass
{
	border-color:#d0d0d0 !important;
}

.existCommentsClass
{
	background:transparent;
	border-color:#d0d0d0;
	color:#404040;
}


.lblFilter
{
	color:#1792e5; /*/314142*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.AreaPaneClass
{
	border-color:#d0d0d0;
}

.shelveAlarm, .shelveAlarm_ovr, .unshelveAlarm, .unshelveAlarm_ovr,
.pauseEnabled, .pauseEnabled_ovr, .AcknowledgePageEnabled, .AcknowledgePageEnabled_ovr,
.dialogShelveAlarm, .dialogShelveAlarm_ovr, .resumeEnabled, .resumeEnabled_ovr,
.generateEventEnabled, .generateEventEnabled_ovr, .clearPageEnabled, .clearPageEnabled_ovr, .alarmOverFlowAck_ovr,
.audibleSuppressionEnabled, .audibleSuppressionEnabled_ovr, .silenceAudible
{
	color:#404040;
}

.unshelveAlarm_ovr, .pauseEnabled_ovr, .AcknowledgePageEnabled_ovr, .shelveAlarm_ovr,
.dialogShelveAlarm_ovr, .resumeEnabled_ovr, .generateEventEnabled_ovr, .clearPageEnabled_ovr,
.audibleSuppressionEnabled_ovr, .alarmOverFlowAck_ovr, .ClearFilter_ovr, .resetViewClass_ovr, .saveViewBtnEnabled_ovr,
.deleteViewEnabled_ovr, .areaPaneClose_ovr, .areaPaneOpen_ovr, .saveDetailsEnabled_ovr, .silenceAudible_ovr
{
	
	background-color:#1792e5 !Important;
	color:#FFFFFF;
}

.shelveAlarmDisabled, .dialogShelveAlarmDisabled, .unshelveAlarmDisabled, .pauseDisabled, .resumeDisabled, .saveDetailsDisabled, .saveViewBtnDisabled, .deleteViewDisabled, .AcknowledgePageDisabled
{
	cursor:default;
	color: #c0c0c0;
}
input.inputValue, .inputValue, .gsInputValue, select .gsInputValue, .viewTxtAreaName
{
	color:#404040;
	background:#f7f7f7;
	border-color:#d0d0d0;
}


.viewTxtAreaNameDisabled
{
	color:#000;
	background:#e0e0e0;
	border-color:#c0c0c0;
}



.addCommentsTxt
{
	color:#404040;
	background:#f7f7f7;
	border-color:#d0d0d0;
}

.filter_text
{
	color:#404040 !important; /*#e0d48e; - Changed off-yellow to charcoal as per Graeme's request [DMS] */
}

.unfilter_text
{
	color:#404040;
}

.saveDetailsEnabled
{
	color:#404040;


	
	
	}
	
	.spanViewListClass
{
	background:#e0e0e0;
	border-color:#26374b;
}

.saveDetailsEnabled_ovr
{
	border-color:#3091d1 !Important;
	}
	
.dropAreaPaneEnabled_ovr, .btnDropViewList_ovr
{
	color:#FFFFFF;
	border-color:#1792e5 !Important;
	background:#1792e5 !important;
}

.sysSumTopBand
{
	background: #C0C0C0 !important;
	color: #404040 !important;
}

.selectNoneBtn
{
	background:#c0c0c0;
	color:#404040;
	border-color: #c0c0c0 !important;
}

.alarmColHeading
{
	background:#b0b0b0;
	border-color:#b0b0b0;
	color: #d2d7dd;
}

.alarmColHeading .blankHeader
{
	color: #ffffff;
	background:#b0b0b0;
}

.MENUITEM_HOVER
{
	background-color:#1792e5;
	color:#FFFFFF;
}


.alarmTrendEnabled_ovr, .alarmTrendSelected, .viewConfigPaneEnabled_ovr, .viewConfigPaneSelected,
.areaPaneEnabled_ovr, .areaPaneEnabledSelected, .statusPaneEnabled_ovr, .detailsPaneEnabled_ovr,
.columnOrganizerEnabled_ovr, .printAsReportEnabled_ovr, .printPreviewEnabled_ovr, .csvExportEnabled_ovr, .systemStatusPaneEnabled_ovr,
.dashboardBackEnabled_ovr
{
	background-color:#b0b0b0;
}

.linkText
{
	color:#404040;
}
	
.TabSet
{
	background:#f4f4ee;
}

.locationBrowserDisabled
{
	color:#acb5b9;
	background:#d7dcde;
	border-color:#d3d6d8;
}

.locationBrowserEnabled
{
	background:#dddce3 !important;
	border-color:#cdcab9 !important;
}

.almHlpSmallItemLabel 
{
	background-color: #A0A0A0;
	color: #303030;
}

.almHlpSmallItemValue 
{
	color: #303030;
}

.almHlpItemHead
{
	background-color: #A0A0A0;
	color: #303030;
}

.almHlpItemContent, .sysAlmHlpContent 
{
	color: #303030;
}

.amlHlpHeader 
{
	color: #303030;
}




/* Icon Filenames */
.unshelveAlarm
{
	background-image:url(../Images/LightTheme/Unshelve.png);
}

.unshelveAlarm_ovr
{
	background-image:url(../Images/LightTheme/Unshelve.png);
}

.unshelveAlarmDisabled
{
	background-image:url(../Images/LightTheme/unshelveDisabled.png);
}

.alarmOverFlowAck
{
	background-image:url(../Images/LightTheme/Recover_Overflow.png);
}

.alarmOverFlowAck_ovr
{
	background-image:url(../Images/LightTheme/Recover_Overflow.png); 
}

.alarmOverFlowAckDisabled
{
	background-image:url(../Images/LightTheme/Recover_Overflow.png);
}

.shelveAlarm, .dialogShelveAlarm
{
	background-image:url(../Images/LightTheme/Shelve.png);
}

.shelveAlarm_ovr, .dialogShelveAlarm_ovr
{
    background-image:url(../Images/LightTheme/Shelve.png);
}

.shelveAlarmDisabled, .dialogShelveAlarmDisabled
{
	background-image:url(../Images/LightTheme/shelveDisabled.png);
}

.pauseEnabled
{
	background-image:url(../Images/LightTheme/Pause.png);
}

.pauseEnabled_ovr
{
	background-image:url(../Images/LightTheme/Pause.png);
}

.pauseDisabled
{
	background-image:url(../Images/LightTheme/PauseDisabled.png);
}

.silenceAudible
{
	background-image:url(../Images/LightTheme/Silence.png);
}

.AcknowledgePageEnabled
{
	background-image:url(../Images/LightTheme/Ack.png);
}

.AcknowledgePageEnabled_ovr
{
	background-image: url(../Images/LightTheme/Ack.png);
}

.AcknowledgePageDisabled
{
	background-image:url(../Images/LightTheme/AckDisabled.png);
}

.resumeEnabled
{
	background-image:url(../Images/LightTheme/Resume.png);
}

.resumeEnabled_ovr
{
	background-image:url(../Images/LightTheme/Resume.png);
}

.resumeDisabled
{
	background-image:url(../Images/LightTheme/ResumeDisabled.png);
}

.generateEventEnabled
{
	background-image:url(../Images/LightTheme/generateEvents.png);
}

.generateEventEnabled_ovr
{
	background-image:url(../Images/LightTheme/generateEvents.png);
}

.generateEventDisabled
{
	background-image:url(../Images/LightTheme/generateEventsDisabled.png);
}

.clearPageEnabled
{
	background-image:url(../Images/LightTheme/clearPageEnabled.png);
}

.clearPageDisabled
{
	background-image:url(../Images/LightTheme/clearPageDisabled.png);
}

.ClearFilter
{
	background-image:url(../Images/LightTheme/Filter.png);
}

.ClearFilter_ovr
{
	background-image:url(../Images/LightTheme/Filter.png);
}

.FilterDisabled
{
	background-image:url(../Images/LightTheme/FilterDisabled.png);
}

.resetViewClass
{
	background-image:url(../Images/LightTheme/Reset.png);
}

.resetViewClass_ovr
{
	background-image:url(../Images/LightTheme/Reset.png);
}

.resetViewDisabled
{
	background-image:url(../Images/LightTheme/ResetViewDisabled.png);
}

.systemStatusPaneEnabled
{
	background-image:url(../Images/LightTheme/SystemStatusPaneEnabled.png);
}

.systemStatusPaneEnabled_ovr
{
	background-image:url(../Images/LightTheme/Selected/SystemStatusPaneEnabled_selected.png);
}

.systemStatusPaneDisabled
{
	background-image:url(../Images/LightTheme/SystemStatusPaneDisabled.png);
}
.alarmTrendEnabled
{
	background-image:url(../Images/LightTheme/alarmTrend.png);
}

.alarmTrendEnabled_ovr, .alarmTrendSelected
{
	background-image:url(../Images/LightTheme/selected/alarmTrend_selected.png);
}

.alarmTrendDisabled
{
	background-image:url(../Images/LightTheme/alarmTrendDisabled.png);
}

.viewConfigPaneEnabled
{
	background-image:url(../Images/LightTheme/ViewConfig.png);
}

.viewConfigPaneEnabled_ovr, .viewConfigPaneSelected
{
	background-image:url(../Images/LightTheme/selected/ViewConfig_selected.png);
}

.viewConfigPaneDisabled
{
	background-image:url(../Images/LightTheme/ViewConfigDisabled.png);
}

.areaPaneEnabled
{
	background-image:url(../Images/LightTheme/AreaPane.png);
}

.areaPaneEnabled_ovr, .areaPaneEnabledSelected
{
	background-image: url(../Images/LightTheme/Selected/AreaPane_selected.png);
}

.areaPaneDisabled
{
	background-image:url(../Images/LightTheme/AreaPaneDisabled.png);
}

.statusPaneEnabled
{
	background-image:url(../Images/LightTheme/StatusPaneEnabled.png);
}

.statusPaneEnabled_ovr
{
	background-image:url(../Images/LightTheme/Selected/StatusPaneEnabled_selected.png);
}

.statusPaneDisabled
{
	background-image:url(../Images/LightTheme/StatusPaneDisabled.png);
}

.detailsPaneEnabled
{
	background-image:url(../Images/LightTheme/Details.png);
}

.detailsPaneEnabled_ovr
{
	background-image:url(../Images/LightTheme/Selected/Details_selected.png);
}

.detailsPaneDisabled
{
	background-image:url(../Images/LightTheme/DetailsDisabled.png);
}

.columnOrganizerEnabled
{
	background-image:url(../Images/LightTheme/ColumnOrganizer.png);
}

.columnOrganizerEnabled_ovr
{
	background-image:url(../Images/LightTheme/Selected/ColumnOrganizer_selected.png);
}

.csvExportEnabled
{
	background-image:url(../Images/LightTheme/CsvExport.png);
}

.csvExportEnabled_ovr
{
	background-image:url(../Images/LightTheme/Selected/CsvExport_Selected.png);
}

.csvExportDisabled
{
	background-image:url(../Images/LightTheme/CsvExport.png);
}

.columnOrganizerDisabled
{
	background-image:url(../Images/LightTheme/ColumnOrganizerDisabled.png);
}

.printAsReportEnabled
{
	background-image:url(../Images/LightTheme/Print.png);
}

.printAsReportEnabled_ovr
{
	background-image:url(../Images/LightTheme/selected/Print_selected.png);
}

.printAsReportDisabled
{
	background-image:url(../Images/LightTheme/PrintDisabled.png);
}

.printPreviewEnabled
{
	background-image:url(../Images/LightTheme/Preview.png); 
}

.printPreviewEnabled_ovr
{
	background-image: url(../Images/LightTheme/Selected/Preview_Selected.png);
}

.printPreviewDisabled
{
	background-image:url(../Images/LightTheme/PreviewDisabled.png);
}

.dashboardBackEnabled
{
	background-image:url(../Images/LightTheme/DashboardBackEnabled.png);
}

.dashboardBackEnabled_ovr
{
	background-image:url(../Images/LightTheme/DashboardBackEnabled.png);
}

.dashboardBackDisabled
{
	background-image:url(../Images/LightTheme/DashboardBackDisabled.png);
}

.pointDetailIcon
{
	background-image:url(../Images/LightTheme/PointDetails.png);
	}

.assDisplayIcon
{
	background-image:url(../Images/LightTheme/AssociatedDisplay.png);
}

.crdHldrIcon
{
	background-image:url(../Images/LightTheme/CardHolderDetails.gif);
}

.suppStatusIcon
{
	background-image:url(../Images/LightTheme/SuppressionStatus.png);
}

.lnkCustomIcon
{
	background-image:url(../Images/LightTheme/Link.png);
}

.saveDetailsDisabled
{
	background-image:url(../Images/LightTheme/SaveDisabled.png);
}

.saveDetailsEnabled
{
	background-image:url(../Images/LightTheme/Save.png);
}

.saveDetailsEnabled_ovr
{
	background-image:url(../Images/LightTheme/Save.png);
}

.saveViewBtnDisabled
{
	background-image:url(../Images/LightTheme/SaveDisabled.png);
}

.saveViewBtnEnabled
{
	background-image:url(../Images/LightTheme/Save.png);
}

.saveViewBtnEnabled_ovr
{
	background-image: url(../Images/LightTheme/Save.png);
}

.deleteViewEnabled
{
	border-color:transparent !important;
	background-image:url(../Images/LightTheme/Delete.png);
}

.deleteViewEnabled_ovr
{
	background-image: url(../Images/LightTheme/Delete.png);
}

.deleteViewDisabled
{
	border-color:transparent !important;
	background-image:url(../Images/LightTheme/DeleteDisabled.png);
}

.areaPaneClose
{
	background-image:url(../Images/LightTheme/Close.png);
}

.areaPaneClose_ovr
{
	background-image:url(../Images/LightTheme/Close.png);
}

.areaPaneOpen
{
	background-image:url(../Images/LightTheme/PinUp.png);
}

.areaPaneOpen_ovr
{
	background-image:url(../Images/LightTheme/PinUp.png);
}

.sysAlmHlpExpand
{
	background-image:url(../Images/LightTheme/AlarmHelpExpand.png);
	background-repeat:no-repeat;
}

.sysAlmHlpCollapse
{
	background-image:url(../Images/LightTheme/AlarmHelpCollapse.png);
	background-repeat:no-repeat;
}

.contextMenu_Ack
{
	background-image:url(../Images/LightTheme/Ack.png);
	background-repeat:no-repeat;
}

.contextMenu_QuickShelve
{
	background-image:url(../Images/LightTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Shelve
{
	background-image:url(../Images/LightTheme/Shelve.png);
	background-repeat:no-repeat;
}

.contextMenu_Unshelve
{
	background-image:url(../Images/LightTheme/Unshelve.png);
	background-repeat:no-repeat;
}

.contextMenu_PointDetail
{
	background-image:url(../Images/LightTheme/PointDetails.png);
	background-repeat:no-repeat;
}

.contextMenu_AssDisplay
{
	background-image:url(../Images/LightTheme/AssociatedDisplay.png);
	background-repeat:no-repeat;
}

.contextMenu_SuppStatus
{
	background-image:url(../Images/LightTheme/SuppressionStatus.png);
	background-repeat:no-repeat;
}

.contextMenu_AlarmHelp
{
	background-image:url(../Images/LightTheme/AlarmHelp.png);
	background-repeat:no-repeat;
}


.contextMenu_ClearFilters
{
    background-image:url(../Images/LightTheme/Filter.png);
	background-repeat:no-repeat;
}

.contextMenu_ColOrganiser
{
    background-image:url(../Images/LightTheme/ColumnOrganizer.png);
	background-repeat:no-repeat;
}

.contextMenu_Clear
{
    background-image:url(../Images/LightTheme/clearPageEnabled.png);
	background-repeat:no-repeat;
}

.contextMenu_Confirm
{
    background-image:url(../Images/LightTheme/confirm.png);
	background-repeat:no-repeat;
}

.contextMenu_ActGo
{
	background-image:url(../Images/LightTheme/context_act_cmd_go.png);
	background-repeat:no-repeat;
}

.contextMenu_ActHold
{
	background-image:url(../Images/LightTheme/context_act_cmd_hold.png);
	background-repeat:no-repeat;
}

.contextMenu_ActStop
{
	background-image:url(../Images/LightTheme/context_act_cmd_stop.png);
	background-repeat:no-repeat;
}

.contextMenu_ActRemove
{
	background-image:url(../Images/LightTheme/context_act_cmd_remove.png);
	background-repeat:no-repeat;
}

.contextMenu_ActAbort
{
	background-image:url(../Images/LightTheme/context_act_cmd_abort.png);
	background-repeat:no-repeat;
}

.contextMenu_PE
{
	background-image:url(../Images/LightTheme/ProcedureExplorer.png);
	background-repeat:no-repeat;
}

.contextMenu_Message {
	background-image: url(../Images/LightTheme/context_message.png);
	background-repeat: no-repeat;
}


/*=======================================================================
Batch related styles
======================================================================*/
.newActOptList
{
	background-color: #D0D0D0;
	border-color:#1792E5 !important;
	color:#404040;
}

.newActOptListHover
{
	background-color: #D0D0D0;
	border-color:#1173b5 !important;
	color:#404040;
}

.btnNewActDList
{
	border-color:#1792E5;
	color:#1792E5 !important;
	background-image:url(../Images/LightTheme/act_new_activity.png);
}

.btnNewActDListHover
{
	border-color:#1173b5;
	color:#1173b5 !important;
	background-image:url(../Images/LightTheme/act_new_activity.png);
}

.btnNewActDisabledList
{
	color:#808080;
	border-color:#C0C0C0 !important;
	background-color:#C0C0C0;
	background-image:url(../Images/LightTheme/act_new_activity_disabled.png);
}

.newBatchBtn_ovr, .newProcedureBtn_ovr
{
	background-color: #B0B0B0 !important;
	color:#303030 !important;
}

.btnNewBatch, .btnNewProcedure
{
	color:#1792E5;
	border-color:#1792E5 !important;
	background-image:url(../Images/LightTheme/act_new_activity.png);
}

.btnNewBatchHover, .btnNewProcedureHover
{
	color:#1173b5;
	border-color:#1173b5 !important;
	background-image:url(../Images/LightTheme/act_new_activity.png);
}

.btnNewBatchDisabled, .btnNewProcedureDisabled
{
	color:#808080;
	border-color:#C0C0C0 !important;
	background-color:#C0C0C0;
	background-image:url(../Images/LightTheme/act_new_activity_disabled.png);
}

.divActivityCommandLabel {
	color: #707070;
}

.btnGoEnabled, .btnHoldEnabled, .btnStopEnabled, .btnAbortEnabled, .btnRemoveEnabled
{
	color:#303030;
	border-color:#C0C0C0;
	background-color:#C0C0C0;
}

.btnGoEnabled
{
	background-image:url(../Images/LightTheme/act_cmd_go.png);
}

.btnHoldEnabled
{
	background-image:url(../Images/LightTheme/act_cmd_hold.png);
}

.btnStopEnabled
{
	background-image:url(../Images/LightTheme/act_cmd_stop.png);
}

.btnAbortEnabled
{
	background-image:url(../Images/LightTheme/act_cmd_abort.png);
}

.btnRemoveEnabled
{
	background-image:url(../Images/LightTheme/act_cmd_remove.png);
}

.btnGoDisabled, .btnHoldDisabled, .btnStopDisabled, .btnAbortDisabled, .btnRemoveDisabled
{
	color:#808080;
	border-color:#C0C0C0;
	background-color:#C0C0C0;
}

.btnGoDisabled
{
	background-image:url(../Images/LightTheme/act_cmd_go_disabled.png);
}

.btnHoldDisabled
{
	background-image:url(../Images/LightTheme/act_cmd_hold_disabled.png);
}

.btnStopDisabled
{
	background-image:url(../Images/LightTheme/act_cmd_stop_disabled.png);
}

.btnAbortDisabled
{
	background-image:url(../Images/LightTheme/act_cmd_abort_disabled.png);
}

.btnRemoveDisabled
{
	background-image:url(../Images/LightTheme/act_cmd_remove_disabled.png);
}

.btnGoHover, .btnHoldHover, .btnStopHover, .btnAbortHover, .btnRemoveHover
{
	color:#FFFFFF;
	border-color:#23608C;
	background-color:#23608C;
}

.btnGoHover
{
	background-image:url(../Images/DarkTheme/act_cmd_go.png);
}

.btnHoldHover
{
	background-image:url(../Images/DarkTheme/act_cmd_hold.png);
}

.btnStopHover
{
	background-image:url(../Images/DarkTheme/act_cmd_stop.png);
}

.btnAbortHover
{
	background-image:url(../Images/DarkTheme/act_cmd_abort.png);
}

.btnRemoveHover
{
	background-image:url(../Images/DarkTheme/act_cmd_remove.png);
}

/*=======================================================================
End Batch related styles
======================================================================*/

/*=======================================================================
Message summary instruction response interface styles
======================================================================*/

.iri_fieldLabel, .iri_writableFieldLabel {
    color: #808080;
    hw-text-color: #808080;
}

.iri_fieldData, .iri_renderedText, .iri_dynamicInstuctionAlpha, .iri_renderedTextLabel {
    color: #404040;
    hw-text-color: #404040;
}

.iri_writeableField {
    background-color: #F0F0F0;
    hw-fill-color: #F0F0F0;
}

.iri_content {
    background-color: #E0E0E0;
    hw-fill-color:  #E0E0E0;
}

.iri_divSeparator {
    background-color: #D0D0D0;
    hw-fill-color:  #D0D0D0;
}

.iri_disabled {
    background-color: #D7D7D7 !important;
    color: #808080 !important;
}

.iri_Column {
    hw-fill-color: #D6D6D6;
    color: #D6D6D6;
    background-color: #D6D6D6;
}

.iri_combobox
{
    hw-text-color: #707070;
    hw-fill-color: #F0F0F0;
    hw-combo-style: flat;
    hw-combo-button-arrow-color: #707070;
    hw-combo-button-color: #F0F0F0;
}

.spanLiveValuePlaceHolder {
    border-color: #A0A0A0;
}
