/* style for SmartLine displays  */

.SLFP_Title
{
	/* Style class for the title bar in the SmartLine Faceplate */
	hw-text-align: center;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: #404040;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_SectionHeader
{
	/* Style class for the section header bars in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #B0B0B0;
	hw-fill-color: #404040;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_Label
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_Label_Bold
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_PVSymbol_Digital
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_PVName_Digital
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_PVValue_Digital
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_PVUnits_Digital
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_PVSymbol_Analog
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_PVName_Analog
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 0px;
}

.SLFP_PVValue_Analog
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 16pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_PVUnits_Analog
{
	/* Style class for the parameter labels and full-length text variables in the SmartLine Faceplate */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_ExecutionState
{
	/* Style class for the Execution State combobox in the SmartLine Faceplate */
	hw-text-align: center;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: #101010;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_AlarmState
{
	/* Style class for the Aalrm State identifier in the SmartLine Faceplate */
	hw-text-align: center;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SLFP_Link_Right
{
	/* Style class for variables that act as links in the SmartLine Faceplate */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 4px;
    cursor: pointer;
}

.SL_PageTitle
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 16pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_MenuEntry
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: center;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 14pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_SectionHeader
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 14pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_GroupHeader
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_TableHeader
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: center;
	hw-text-effect: bold;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_StatusMessage_Left
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 12pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Label_Normal
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Label_Error
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #EE3124;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Label_Warning
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFC627;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Text_Normal
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Text_BadQuality
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: #404040;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Text_Error
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #EE3124;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Text_Warning
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFC627;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Text_Right_Normal
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Text_Right_BadQuality
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: #404040;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Text_Right_Error
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #EE3124;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Text_Right_Warning
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFC627;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Link
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #1792E5;
	hw-fill-color: transparent;
	hw-text-decoration: underline;
	cursor: hand;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Link_Right
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #1792E5;
	hw-fill-color: transparent;
	hw-text-decoration: underline;
	cursor: hand;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Numeric_Normal
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Numeric_BadQuality
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11t;
	hw-text-color: #FFFFFF;
	hw-fill-color: #404040;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Numeric_Error
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #EE3124;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Numeric_Warning
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: right;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFC627;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 2px;
}

.SL_Numeric_Left_Normal
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Numeric_Left_BadQuality
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFFFFF;
	hw-fill-color: #404040;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Numeric_Left_Error
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #EE3124;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.SL_Numeric_Left_Warning
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: left;
	hw-text-effect: none;
	hw-text-family: arial;
	hw-text-size: 11pt;
	hw-text-color: #FFC627;
	hw-fill-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}