.PointName_Style
{
	/* Style class applies to AlphaText used for Point Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: bold;
	hw-text-align: left;
	hw-text-color: #404040;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
}

.Description_Style_fp
{
	/* Style class applies to AlphaText used for Description */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #404040;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Left_Style
{
	/* Style class applies to AlphaText used for Unit text in Analog & Accumulator (EPKS), general headings*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #707070;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Readonly_Alpha_LeftAlign_Style_fp
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: normal;
	hw-text-color: #404040;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-Fill-color: Transparent;
	
}

.Picbackground_Style
{
	/* Style class used for background rectangle */
	hw-fill-color: #D0D0D0;
	hw-line-width: 1;
	hw-line-style: none;
	hw-line-color: #D0D0D0;
	hw-text-color: #404040;
}
