/* style for EPKS  */
.Titlebar_Combobox_Style

{
	hw-fill-color: White;
	hw-line-color: White;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: Black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Standard_Line_Style

{	
	hw-line-color: silver;
	hw-line-width: 1;
	hw-line-style: Solid;
}

.DisplayArea_Combobox_Style

{
	hw-fill-color: White;
	hw-line-color: silver;
	hw-line-width: 1;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: Black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.DisplayArea_Combobox_Right_Style

{
	hw-fill-color: White;
	hw-line-color: silver;
	hw-line-width: 1;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: Black;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Field_Label_Style
{	
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Navpane_Label_Style
{	
	hw-fill-color: Transparent;
	hw-text-color: #1F477D;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Navpane_heading_Style
{	
	hw-fill-color: Transparent;
	hw-text-color: #1F477D;
	hw-text-effect: bold;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}


.Location_Text_Style	
{
	hw-fill-color: Transparent;
	hw-text-color: white;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Cover_Label_Style
{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: center;           
	hw-text-family: arial;
	hw-text-size: 26pt;
	hw-text-effect: Bold;
}

.Group_Line_Style
{
		/* Placeholder for style optionally used EPKS_2 */
}

.Group_Label_Style,
.Group_Label_Style2
{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: left;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;
}

.Group_Label_Right_Aligned_Style
{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: right;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;
}

.Titlebar_Text_Style,
.Titlebar_Text_Style2
{
	hw-text-color: White;
	hw-text-align: left;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: Transparent;
}

.Titlebar_AlphaNumeric_Left_Style
{
	hw-text-color: Black;
	hw-fill-color: White;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Titlebar_AlphaNumeric_Right_Style
{
	hw-fill-color: White;
	hw-text-color: Black;
	hw-text-align: Right;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Standard_Button_Style
{
	hw-text-color: Black;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

/* style for Action buttons */	
 .Display_Action_Button_Style
{
	hw-text-color: White;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
}


.DataEntry_Alphanumeric_Style
{
	hw-text-color: black;
	hw-text-effect: bold;
	hw-fill-color: white;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-line-color: white;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.DataEntry_Left_Alphanumeric_Style
{
	hw-text-color: black;
	hw-text-effect: bold;
	hw-fill-color: white;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-line-color: white;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.DataEntry_Center_Alphanumeric_Style
{
	hw-text-color: black;
	hw-text-effect: bold;
	hw-fill-color: white;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-line-color: white;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: white;
}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Right;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: white;
}

.Readonly_Alpha_LeftAlign_Style	
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: white;
}

.Location_Alpha_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: white;
	hw-fill-color: Transparent;
}

.Description_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Check_Option_box_style	
{
	hw-text-color: black;
	hw-text-effect: none;
	hw-text-align: left;
	hw-fill-style: none;
	hw-fill-color: Transparent;
	hw-text-family: arial;
	hw-text-size: 10pt;
	padding-top: 3px;
}

.Check_Option_box_style input 
{
	padding:0px !important;
	margin:0px  10px 0px 0px!important;
	width:13px !important;
	height:13px !important;
}

.TableHeader_Left_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableHeader_Right_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableHeader_center_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableContent_Left_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableContent_Right_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;
}
.TableContent_center_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.Comments_Style
{
	hw-text-color: #808080;
	hw-text-align: left;
	hw-text-effect: normal;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Italic;
	hw-fill-color: Transparent;
}

.Instructions_Text_Style
{
	hw-text-color: black;
	hw-text-align: left;
	hw-text-effect: normal;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Italic;
	hw-fill-color: Transparent;
}

.Tab_Button__Text_Style,
.Tab_Button__Text_Style2,
{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: center;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;
}

.Hyperlink_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Right;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
}

.Hyperlink_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
}

.Dataentry_Titlebar_AlphaNumeric_RightAlign_Style
{
	hw-fill-color: White;
        hw-text-color: Black;	
	hw-text-align: Right;
        hw-line-style: Inset;	
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
}
.Readonly_Titlebar_AlphaNumeric_RightAlign_Style
{
	hw-fill-color: Transparent;
	hw-text-color: White;
	hw-text-align: Right;
     	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Readonly_Titlebar_AlphaNumeric_LeftAlign_Style
{
	hw-fill-color: Transparent;
	hw-text-color: White;
	hw-text-align: Left;
     	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Hyperlink_RightAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.Hyperlink_LeftAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.Hyperlink_CenterAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Center;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.Commands_Background
{
	background-color: #F0F0F0;
}

.Commands_Execute_Button,
.Commands_Option_Button,
.Commands_Option_Button_Adjustable,
.Commands_Selected_Button,
.Commands_Disabled_Button,
.Commands_Disabled_Button_Adjustable,
.Commands_Unavailable_Button
{
    border: 1px solid #F0F0F0 !important;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-top: 2px;
}

.Commands_Execute_Button,
.Commands_Option_Button,
.Commands_Selected_Button,
.Commands_Disabled_Button,
.Commands_Unavailable_Button
{
	height: 40px !important;
	padding: 10px 10px;
}

.Commands_Option_Button_Adjustable,
.Commands_Disabled_Button_Adjustable
{
	padding: 5px 5px;
}


.Commands_Option_Button,
.Commands_Option_Button_Adjustable
{
	background-color: #D0D0D0 !important;
	color: #000000 !important;
}

.Commands_Selected_Button
{
	background-color: #707070 !important;
	color: #FFFFFF !important;
	
}

.Commands_Execute_Button
{
	background-color: #1792E5 !important;
	color: #FFFFFF !important;
}

.Commands_Unavailable_Button
{
	background-color: #E0E0E0 !important;
	color: #B0B0B0 !important;
}

.Commands_Disabled_Button,
.Commands_Disabled_Button_Adjustable
{
	background-color: #D0D0D0 !important;
	color: #B4B4B4 !important;
}

.Generic_Header_Small,
.Generic_Text_Small,
{
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: #606060;
}

.Generic_Header_Small
{
	hw-text-effect: Bold;
}

.Generic_Text_Small
{
	hw-text-effect: Normal;
}

.Commands_Result_View
{
	overflow-y: scroll !important;
}

.Command_Result_Item
{
	line-height: 16px;
	background-color: #F0F0F0;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	padding: 5px 0px 5px 10px;
	margin-right: 5px;
	font-size: 12px;
}

.Current_Command_Result_Item
{
	line-height: 16px;
	background-color: #707070;
	color: #FFFFFF !important;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	padding: 5px 0px 5px 10px;
	margin-right: 5px;
	font-size: 12px;
}

.Command_Result_Icon
{
	margin-right: 5px;
}

.ToggleOff
{
	background:  url("..\Images\toggle_off.png") no-repeat;
	cursor: hand;
}

.ToggleOn
{
	background:  url("..\Images\toggle_on.png") no-repeat;
	cursor: hand;
}

.ToggleUnknown
{
	background:  url("..\Images\toggle_error.png");
	cursor: hand;
}

.ToggleOffDisabled
{
	background:  url("..\Images\toggle_off_disabled.png");
	cursor: hand;
}

.ToggleOnDisabled
{
	background:  url("..\Images\toggle_on_disabled.png");
	cursor: hand;
}

.dropdownOpen
{
	background:  url("..\Images\Dropdown_light.png");
	cursor: hand;
}

.dropdownClose
{
	background:  url("..\Images\Fold Up_light.png");
	cursor: hand;
}

.dropdownOption
{
	background-color: #CCCCCC !important;
	cursor: hand;
}

.dropdownOptionHighlight
{
	background-color: #EEEEEE !important;
	cursor: hand;
}

.dropdownOptionSelected
{
	background-color: #1792E5 !important;
	cursor: hand;
}

.StatusText
{
	font-size: 14px;
	color: #303030 !important;
}

.StatusTextHighlight
{
	font-size: 14px;
	color: #FFFFFF !important;
}