@import url("SystemDisplayLayout_1276X849.css");
@import url("SystemDisplayBehavior.css");  
@import url("syspointdetail.css");
@import url("System.css"); 
@import url("EPKS.css");


.Point_name_text
{
  hw-text-family: Verdana;
  hw-text-size: 11pt;
  hw-text-color: Black ;
  hw-text-effect: Bold;
  hw-text-align: centered;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Description_text
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: None;
  hw-text-align: left;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Data_value_left
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: None;
  hw-text-align: left;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}


.Data_value_right
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: None;
  hw-text-align: right;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Data_bold_left
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: left;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Data_bold_right
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: right;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Data_bold_center
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Data_bold_center_color
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-effect: Bold;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Point_status_text
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: centered;
  hw-fill-effect: None;
  hw-fill-style : transparent;
  hw-fill-color : None;
}

.Range_high_text
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Range_low_text
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Engineering_unit_description_text
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: Normal;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.SP_text
{
  hw-text-family: Small Fonts;
  hw-text-size: 9pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.PV_text
{
  hw-text-family: Small Font;
  hw-text-size: 9pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.EU_text
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: None;
  hw-text-align: right;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.OP_text
{
  hw-text-family: Small Fonts;
  hw-text-size: 9pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.MODE_text
{
  hw-text-family: Small Fonts;
  hw-text-size: 9pt;
  hw-text-color: Gray;
  hw-text-effect: Normal;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Alarm_Condition_text
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Alarm_Disable_text
{
  hw-text-family: Verdana;
  hw-text-size: 11pt;
  hw-text-color: Black;
  hw-text-effect: Bold;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Numeric_text_edit
{
  hw-text-family: Verdana;
  hw-text-size: 11pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : Solid;
  hw-fill-color : White;
  hw-line-color : White;
  hw-line-style : Inset;
}

.Combobox_mode
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-fill-effect: None;
  hw-fill-style : Solid;
  hw-fill-color : White;
  hw-line-color : White;
  hw-line-style : Inset;
}

.Digital_State
{
  hw-text-family: Small Fonts;
  hw-text-size: 7pt;
  hw-text-color: black;
  hw-text-effect: bold;
  hw-text-align: center;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.Hidden_Data
{
hw-text-family: Small Fonts;
  hw-text-size: 7pt;
  hw-text-color: red;
  hw-text-effect: bold;
  hw-text-align: center;
  hw-fill-effect: None;
  hw-fill-style : transparent;
  hw-visibility: hidden;
 }

.Point_redtag_text
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-effect: Bold;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : transparent;
  hw-fill-color : none;
}

.Point_casreq_text
{
  hw-text-family: Verdana;
  hw-text-size: 14pt;
  hw-text-effect: Bold;
  hw-text-color: black;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : solid;
  hw-fill-color : Cyan;
}

.Digital_EUDESC
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: Black;
  hw-text-effect: bold;
  hw-text-align: center;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.TabControl
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: Black;
  hw-text-effect: NONE;
  hw-text-align: center;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.HyperLink
{
  hw-text-family: Verdana;
  hw-text-size: 10pt;
  hw-text-color: Blue;
  hw-text-effect: Underline;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.DetailText
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: None;
  hw-text-align: left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.DetailCombo
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-fill-effect: None;
  hw-fill-style : none;
  hw-fill-color : White;
  hw-line-color : White;
  hw-line-style : transparent;
  hw-text-align: left;
}

.DetailData
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: None;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.DetailDataLeft
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: None;
  hw-text-align: Left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.DetailDataLeftBold
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: Bold;
  hw-text-align: Left;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}

.DetailDataBold
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: Bold;
  hw-text-align: Right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}
.PVStatus
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: White
  hw-text-effect: Bold;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}
.InitText
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: Black;
  hw-text-effect: Bold;
  hw-text-align: right;
  hw-fill-effect: None;
  hw-fill-style : transparent;
}
.State_Value_right
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: bold;
  hw-text-align: right;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}
.FP_Value_right
{
  hw-text-family: Verdana;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: bold;
  hw-text-align: right;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.System_Menu
{
  hw-text-family: Helvetica;
  hw-text-size: 10pt;
  hw-text-color: white;
  hw-text-effect: bold;
  hw-text-align: left;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.Tab_Text
{
  hw-text-family: Helvetica;
  hw-text-size: 9pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}

.State_Text
{
  hw-text-family: Helvetica;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: center;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}
.Label_Text
{
  hw-text-family: Helvetica;
  hw-text-size: 12pt;
  hw-text-color: black;
  hw-text-effect: Bold;
  hw-text-align: left;
  hw-fill-effect: none;
  hw-fill-style : transparent;
}
.ColorEmergencyPriority
{
  hw-fill-color: red;
  hw-fill-style : solid;
}
.ColorHighPriority
{
  hw-fill-color: yellow;
  hw-fill-style : solid;
}
.ColorLowPriority
{
  hw-fill-color: magenta;
  hw-fill-style : solid;
}
.ColorOtherPriority
{
  hw-fill-color: yellow;
  hw-fill-style : solid;
}


