v\:* 
{
	behavior:url(#default#VML);
}

#Selected_Active_Cells
{
	font-weight: bold;
	background-color: activecaption;
	color: captiontext;
}

#Selected_Active_Unassigned_Cells
{
	font-weight: bold;
	font-style: italic;
	background-color: activecaption;
	color: inactivecaptiontext;
}

#Selected_Inactive_Cells
{
	background-color: inactivecaption;
	color: inactivecaptiontext;
	font-weight: bold;
}

#Selected_Inactive_Unassigned_Cells
{
	font-style: italic;
	background-color: inactivecaption;
	color: inactivecaptiontext;
	font-weight: bold;
}

#Unassigned_Cells
{
	font-style: normal;
    background-color: window;	
	color: windowtext;
}

  