/* EPKS Style Sheet DARK - SM CDA SB FPs */
@import url("./SysFaceplate.css");
/*-----------------------------------------------*/
/* SM CDA SB FP Specific styles */
/*-----------------------------------------------*/
.TxtSt
{
	hw-text-color:#808080;
	hw-fill-color:transparent;
	hw-text-effect:none;
	hw-visibility:inherit;
}
.TxtSt_Active
{
	hw-text-color:#F0F0F0;
	hw-fill-color:transparent;
	hw-text-effect:bold;
	hw-visibility:inherit;
}
.TxtSt_Bad
{
	hw-text-color:#808080;
	hw-fill-color:#000000;
	hw-text-effect:none;
	hw-visibility:hidden;
}
.TxtSt_OffScan
{
	hw-text-color:#FFFFFF;
	hw-fill-color:transparent;
	hw-text-effect:none;
	hw-visibility:inherit;
}
.Buttons
{
	hw-line-color:#808080;
	hw-line-style:solid;
	hw-line-width:1;
	hw-fill-color:transparent;
	hw-fill-color:#606060;
	hw-text-color:#FFFFFF;
}
.RecFrame
{
	hw-line-color:transparent;
	hw-fill-color:#303030;
	hw-visibility:inherit;
}