/*  This CSS file contains styling that is specific to the SCADA Controllers display */

/* Alphanumeric */
/*--------------------------------------------------------------------------------------------------------------------*/

textarea.hsc\.alpha\.1 {
    text-align: left;
}

/* Link */
/*--------------------------------------------------------------------------------------------------------------------*/

.hsc\.link\.1 {
    color: #000000;
}

.hsc\.link\.1:hover {
    color: #006C84;
}

/* Page */
/*--------------------------------------------------------------------------------------------------------------------*/

#Page {
	width: 100%;
	height: 100%;
}

/* Ellipsis */
/*--------------------------------------------------------------------------------------------------------------------*/

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pageBackground{
	scrollbar-3dlight-color:#303030;
	scrollbar-darkshadow-color:#303030;
	scrollbar-track-color:#404040;
	scrollbar-highlight-color:#303030;
	scrollbar-shadow-color:#303030;	
	scrollbar-base-color:#FFFFFF;
	scrollbar-face-color:#101010;
	scrollbar-arrow-color:#808080;
	background-color:#FFFFFF;
}

.leftPanelBackground .HDX_SCROLLBAR{
	/* Same style as .PageBackground for scroll bars */		
	scrollbar-3dlight-color:#303030;
	scrollbar-darkshadow-color:#303030;
	scrollbar-track-color:#404040;
	scrollbar-highlight-color:#303030;
	scrollbar-shadow-color:#303030;		
	scrollbar-base-color:#FFFFFF;
	scrollbar-face-color:#101010;
	scrollbar-arrow-color:#808080;	
	background-color:#303030;
}

.TopHeader{
	background-color:#404040;
	border-bottom:solid 1px #303030;
}

.clearAllFilter, .leftPanelBackground{
	background:#303030 !important;
}

.leftPanelBackground{
	border-right: solid 1px #404040;
}
	
.leftPanelBackground #Tree{
	border:none !important;
}

.leftPanelHeading{
	background:#404040 !important;
}

.FilterOptions{
	background:#303030 !important;
	border-top:solid 1px #303030 !important;	
	top:49px;
}

#Page{
	color:#b0b0b0 !important;
}
	
#Unassigned_Cells{
	color:#808080 !important;
}
	
.treeNodeLabel{
	color:#b0b0b0 !important;
}

.filterIcon{
	float:right;
	background:url(../Images/DarkTheme/filter.png) 3px 3px no-repeat;
}

.filterIcon:hover{
	background:#1792e5 url(../Images/DarkTheme/Selected/Filter_selected.png) 3px 3px no-repeat;
}

.filterIconAll{
	float:left;
	background:url(../Images/DarkTheme/filter.png) 3px 3px no-repeat;
}

.filterIconAll:hover{
	background:#1792e5 url(../Images/DarkTheme/Selected/Filter_selected.png) 3px 3px no-repeat;
}

.clearAll:hover{
	background-color:#1792e5;
}

#Selected_Inactive_Cells
{
    background-color:#1792e5 !important; 
}
