/*  This CSS file contains styling that is specific to the SCADA Controllers display */

/* Alphanumeric */
/*--------------------------------------------------------------------------------------------------------------------*/

textarea.hsc\.alpha\.1 {
    text-align: left;
}

/* Link */
/*--------------------------------------------------------------------------------------------------------------------*/

.hsc\.link\.1 {
    color: #000000;
}

.hsc\.link\.1:hover {
    color: #006C84;
}

/* Page */
/*--------------------------------------------------------------------------------------------------------------------*/

#Page {
	width: 100%;
	height: 100%;
}

/* Ellipsis */
/*--------------------------------------------------------------------------------------------------------------------*/

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pageBackground{
	background-color:#FFFFFF;
}

.leftPanelBackground{
	background:#e1ebf7 !important;
}
	
.leftPanelHeading{
	background:#bccede !important;
}

.filterIcon{
	background:url(../Images/LightTheme/filter.png) 3px 3px no-repeat;
}
.filterIcon:hover{
	background:#7a98b4 url(../Images/LightTheme/Selected/Filter_selected.png) 3px 3px no-repeat;
}

.filterIconAll{
	float:left;
	background:url(../Images/LightTheme/filter.png) 3px 3px no-repeat;
}

.filterIconAll:hover{
	background:#7a98b4 url(../Images/LightTheme/Selected/Filter_selected.png) 3px 3px no-repeat;
}

.clearAll:hover{
	background-color:#7a98b4;
}

