.VlvType_HU_FC,.VlvType_HU_NC ,.VlvType_HD_FO,.VlvType_HD_NO,.VlvType_HD_FC,.VlvType_HD_NC ,.VlvType_HU_FO,.VlvType_HU_NO ,
.VlvType_HU_FL,.VlvType_HU_NL ,.VlvType_HD_FL,.VlvType_HD_NL ,.VlvType_VL_FC,.VlvType_VL_NC ,.VlvType_VR_FO,.VlvType_VR_NO ,
.VlvType_VR_FC,.VlvType_VR_NC ,.VlvType_VL_FO,.VlvType_VL_NO ,.VlvType_VR_FL,.VlvType_VR_NL ,.VlvType_VL_FL,.VlvType_VL_NL
{
	background-repeat:no-repeat;
	background-position:center;
	hw-visibility:inherit;
}
.VlvType_HU_None,.VlvType_HD_None,.VlvType_VL_None,.VlvType_VR_None
{
	background-image:none !important;
	background-repeat:no-repeat;
	hw-visibility:hidden;
}
/* PNG Images */
.VlvType_HU_FO,.VlvType_HU_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hu_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAKUlEQVR42mNgGAWjYBSMAjxgx+79/6luIAxT3UCqGIzNQKq6eBQMLAAAHAMzEZZWz9QAAAAASUVORK5CYII=) !important;
}
.VlvType_HU_FC,.VlvType_HU_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hu_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJUlEQVR42mNgGAWjYBSMAnqAHbv3/8eFqW4w1V1M9aAYTRADBwBZUzMRR9Yh0wAAAABJRU5ErkJggg==) !important;
}
.VlvType_HD_FO,.VlvType_HD_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hd_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJUlEQVR42mNgGAWjACvYsXv/f1yY6gZT3cVUD4rRBDEKRsGwAQAOfDMRL2Zh3wAAAABJRU5ErkJggg==) !important;
}
.VlvType_HD_FC,.VlvType_HD_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hd_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAKElEQVR42mNgGAXDC+zYvf8/1Q2EYaobSBWDsRlIVRePglEwCoYVAADRHTMRcJ899wAAAABJRU5ErkJggg==) !important;
}
.VlvType_HU_FL,.VlvType_HU_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hu_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHklEQVR42mNgGAWjYBSMAlqDHbv3/yeER106CugEAAElOXML8TvnAAAAAElFTkSuQmCC) !important;
}
.VlvType_HD_FL,.VlvType_HD_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hd_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHklEQVR42mNgGAWjAAPs2L3/PyE86tJRMApGwdAEAIzmOXNBLP02AAAAAElFTkSuQmCC) !important;
}
.VlvType_VL_FO,.VlvType_VL_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vl_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALklEQVR42mNgGAWjYPCAHbv3/6e6gVQ1FGYg1QxFNnBwu5RmYUqz2B8FowA7AADFIzMRvqS9kAAAAABJRU5ErkJggg==) !important;
}
.VlvType_VR_FO,.VlvType_VR_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vr_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjgD5gx+79/2liKNUNhhlKVYORDaWawTR16eCP/VEwCsgDAI5NMxElVABhAAAAAElFTkSuQmCC) !important;
}
.VlvType_VL_FC,.VlvType_VL_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vl_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjYODBjt37/9PEUKobDDOUqgYjG0o1g2nq0sEf+6NgFOAGAPgzMxFAiIEcAAAAAElFTkSuQmCC) !important;
}
.VlvType_VR_FC,.VlvType_VR_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vr_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALklEQVR42mNgGAWjgL5gx+79/6luIFUNhRlINUORDRzcLqVZmNIs9kfBKCAdAABbPTMRzoH2LwAAAABJRU5ErkJggg==) !important;
}
.VlvType_VL_FL,.VlvType_VL_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vl_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAIElEQVR42mNgGAWjgCSwY/f+/8j0qKGjho4YQ0fBMAEAuaU5c7widS8AAAAASUVORK5CYII=) !important;
}
.VlvType_VR_FL,.VlvType_VR_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vr_21x21_light.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAIElEQVR42mNgGAWjAAPs2L3/PzI9auiooSPG0FEwAgAAAoY5c/HGLVsAAAAASUVORK5CYII=) !important;
}

