.VlvType_HU_FC,.VlvType_HU_NC ,.VlvType_HD_FO,.VlvType_HD_NO,.VlvType_HD_FC,.VlvType_HD_NC ,.VlvType_HU_FO,.VlvType_HU_NO ,
.VlvType_HU_FL,.VlvType_HU_NL ,.VlvType_HD_FL,.VlvType_HD_NL ,.VlvType_VL_FC,.VlvType_VL_NC ,.VlvType_VR_FO,.VlvType_VR_NO ,
.VlvType_VR_FC,.VlvType_VR_NC ,.VlvType_VL_FO,.VlvType_VL_NO ,.VlvType_VR_FL,.VlvType_VR_NL ,.VlvType_VL_FL,.VlvType_VL_NL
{
	background-repeat:no-repeat;
	background-position:center;
	hw-visibility:inherit;
}
.VlvType_HU_None,.VlvType_HD_None,.VlvType_VL_None,.VlvType_VR_None
{
	background-image:none !important;
	background-repeat:no-repeat;
	hw-visibility:hidden;
}
/* PNG Images */
.VlvType_HU_FO,.VlvType_HU_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hu_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAKElEQVR42mNgGAWjYBSMAjzA39//P9UNhGGqG0gVg7EZSFUXj4KBBQAQ8B7Bxi3b6QAAAABJRU5ErkJggg==') !important;
}
.VlvType_HU_FC,.VlvType_HU_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hu_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJUlEQVR42mNgGAWjYBSMAnoAf3///7gw1Q2muoupHhSjCWLgAACefh7BBGCg7wAAAABJRU5ErkJggg==') !important;
}
.VlvType_HD_FO,.VlvType_HD_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hd_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJUlEQVR42mNgGAWjACvw9/f/jwtT3WCqu5jqQTGaIEbBKBg2AAAa9h7BytXgHAAAAABJRU5ErkJggg==') !important;
}
.VlvType_HD_FC,.VlvType_HD_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hd_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJ0lEQVR42mNgGAXDC/j7+/+nuoEwTHUDqWIwNgOp6uJRMApGwbACAI1ZHsEb2Tl4AAAAAElFTkSuQmCC') !important;
}
.VlvType_HU_FL,.VlvType_HU_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hu_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHklEQVR42mNgGAWjYBSMAloDf3///4TwqEtHAZ0AAKHLIpkCLj7VAAAAAElFTkSuQmCC') !important;
}
.VlvType_HD_FL,.VlvType_HD_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hd_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHklEQVR42mNgGAWjAAP4+/v/J4RHXToKRsEoGJoAAA3SIpluZk0tAAAAAElFTkSuQmCC') !important;
}
.VlvType_VL_FO,.VlvType_VL_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vl_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjYPAAf3///1Q3kKqGwgykmqHIBg5ul9IsTGkW+6NgFGAHADWgHsFq/8TzAAAAAElFTkSuQmCC') !important;
}
.VlvType_VR_FO,.VlvType_VR_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vr_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjgD7A39//P00MpbrBMEOpajCyoVQzmKYuHfyxPwpGAXkAALGNHsE8JvHNAAAAAElFTkSuQmCC') !important;
}
.VlvType_VL_FC,.VlvType_VL_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vl_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjYOCBv7//f5oYSnWDYYZS1WBkQ6lmME1dOvhjfxSMAtwAAFRgHsHgKXY9AAAAAElFTkSuQmCC') !important;
}
.VlvType_VR_FC,.VlvType_VR_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vr_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALUlEQVR42mNgGAWjgL7A39//P9UNpKqhMAOpZiiygYPbpTQLU5rF/igYBaQDAJLNHsES9b+SAAAAAElFTkSuQmCC') !important;
}
.VlvType_VL_FL,.VlvType_VL_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vl_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAIElEQVR42mNgGAWjgCTg7+//H5keNXTU0BFj6CgYJgAAbL8imSB8oAwAAAAASUVORK5CYII=') !important;
}
.VlvType_VR_FL,.VlvType_VR_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vr_21x21_dark.png") !important; */
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAIElEQVR42mNgGAWjAAP4+/v/R6ZHDR01dMQYOgpGAAAANZsimWr8jMgAAAAASUVORK5CYII=') !important;
}

