.VlvType_HU_FC,.VlvType_HU_NC ,.VlvType_HD_FO,.VlvType_HD_NO,.VlvType_HD_FC,.VlvType_HD_NC ,.VlvType_HU_FO,.VlvType_HU_NO ,
.VlvType_HU_FL,.VlvType_HU_NL ,.VlvType_HD_FL,.VlvType_HD_NL ,.VlvType_VL_FC,.VlvType_VL_NC ,.VlvType_VR_FO,.VlvType_VR_NO ,
.VlvType_VR_FC,.VlvType_VR_NC ,.VlvType_VL_FO,.VlvType_VL_NO ,.VlvType_VR_FL,.VlvType_VR_NL ,.VlvType_VL_FL,.VlvType_VL_NL
{
	background-repeat:no-repeat;
	background-position:center;
	hw-visibility:inherit;
}
.VlvType_HU_None,.VlvType_HD_None,.VlvType_VL_None,.VlvType_VR_None
{
	background-image:none !important;
	background-repeat:no-repeat;
	hw-visibility:hidden;
}
/* PNG Images */
.VlvType_HU_FO,.VlvType_HU_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hu_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJklEQVR42mNgGAWjYBSMAvzgPy0M/E9Ng5EN/EcNg//jwaNgqAMAqv8P8GHjhQsAAAAASUVORK5CYII=) !important;
}
.VlvType_HU_FC,.VlvType_HU_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hu_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJElEQVR42mNgGAWjYBSMAjqB/zjwP2ob/I/aLv5Hi6AYBQMEAPmAD+48VwOUAAAAAElFTkSuQmCC) !important;
}
.VlvType_HD_FO,.VlvType_HD_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_hd_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJElEQVR42mNgGAWjABf4jwP/o7bB/6jt4n+0CIpRMApGwfAAAP+CD+4+LA9QAAAAAElFTkSuQmCC) !important;
}
.VlvType_HD_FC,.VlvType_HD_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_hd_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJklEQVR42mNgGAXDDvynhYH/qWkwsoH/qGHwfzx4FIyCUTAKUAAAtacP8DR8r7gAAAAASUVORK5CYII=) !important;
}
.VlvType_HU_FL,.VlvType_HU_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hu_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAG0lEQVR42mNgGAWjYBSMAjqA/0TgUZeOAnoAAKB1Ee+vzsOOAAAAAElFTkSuQmCC) !important;
}
.VlvType_HD_FL,.VlvType_HD_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_hd_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAG0lEQVR42mNgGAWjABv4TwQedekoGAWjYAgCAE8VEe9Sajb8AAAAAElFTkSuQmCC) !important;
}
.VlvType_VL_FO,.VlvType_VL_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vl_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALElEQVR42mNgGAWjYFCB/7Qw8D8tDPxPCwOp6tJ/tDAU2WAGWhg8CkYBrQEAczgP7ltymcUAAAAASUVORK5CYII=) !important;
}
.VlvType_VR_FO,.VlvType_VR_NO
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_out_vr_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAK0lEQVR42mNgGAWjgG7gHy0M/U8Lg//TwuD/aJjqhlLdpVQP01EwCgYDAAA9Ng/u+bcqhQAAAABJRU5ErkJggg==) !important;
}
.VlvType_VL_FC,.VlvType_VL_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vl_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAKklEQVR42mNgGAWjYFCA/7Qy9D+tDP1PK0P/U9PQf7Ry6eCP/VEwCnAAAIhVD/CCemGUAAAAAElFTkSuQmCC) !important;
}
.VlvType_VR_FC,.VlvType_VR_NC
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\closedarrow_in_vr_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAALElEQVR42mNgGAWjgO7gPy0M/E9tA/9R09D/aJiBFgYP7jClWeyPglFAIgAANf0P8BWED2kAAAAASUVORK5CYII=) !important;
}
.VlvType_VL_FL,.VlvType_VL_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vl_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHUlEQVR42mNgGAWjgFTwH40eNXTU0BFj6CgYDgAAUwYR706OJjgAAAAASUVORK5CYII=) !important;
}
.VlvType_VR_FL,.VlvType_VR_NL
{
	/* background-image:url("C:\\\ProgramData\\Honeywell\\Experion PKS\\Client\\Abstract\\Images\\parallel_vr_21x21_asm.png") !important; */
	background-image:url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAHUlEQVR42mNgGAWjABv4j0aPGjpq6IgxdBQMdwAASSwR7ycFCm8AAAAASUVORK5CYII=) !important;
}

