#Selected_Active_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Active_Unassigned_Cells
{
	background-color:#565a62;
	color:#fff;
}

#Selected_Inactive_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Selected_Inactive_Unassigned_Cells
{
	background-color:#6b6b6b;
	color:#fff;
}

#Unassigned_Cells
{
	color:#8d8882;
}

#Table
{
	background-color:#333333;
	border-color:#979797;
	color:#fff;
}