@import url("EPKS_Summary_commonColor.css"); /*This will always be remain at the top of the page. */
/*@import url("EPKS_Summary_Dark.css"); /*This has been moved to the summary HTML to allow changing. */

/*=======================================================================
Alarm, Events and System Summary style
======================================================================*/
.summaryToolbar
{
	display: inline;
	position: absolute;
	white-space: nowrap;
	right:0px;
	top: 48px;
	z-index: 100;
	height:27px;
	overflow: hidden;
	width:450px;
	overflow: hidden;
	border:0px !important;
}

.summaryToolbarButton
{
	position: relative;
	cursor: default;
	display: inline;
	float:left;
	margin-right:1px;
	top: 0px;
	padding:0px;
	line-height:20px;
	height: 20px;
	overflow: hidden;
	padding:3px 5px 0px 5px;
	text-align:center;
	behavior: url(#HDXElementsFactory#Button);
}

.summaryToolbarButton img
{
	border:0px;
}

#AreaAndViewToolbar
{
	position: relative;
	float:left;
	z-index: 1;
	left: 10px;
	top: 48px;
	width:450px;
	height: 27px;
	overflow: hidden;
	border:1px solid;
}

.alarmSummaryLinkRight
{
	position: absolute;
	padding: 5px;
	z-index: 2;
   	right: 5px;
	top: 8px;
	width: auto;
	height: 28px;
	text-align: right;
}

v\:*
{
	behavior:url(#default#VML);
}

#Selected_Active_Cells, #Selected_Active_Unassigned_Cells, #Selected_Inactive_Cells, #Selected_Inactive_Unassigned_Cells, #Unassigned_Cells
{
	width:100%;
	padding:1px 6px 1px 6px;
}

#Table
{
	border:0px solid;
	position: absolute;
	white-space: nowrap;
	z-index:5;
	clear:both;
	right:0px;
	width: 100%;
	line-height:20px;
	height: 100%;
	behavior: url(#HDXElementsFactory#Table#HDXBinding) url(#BindingBehavior);
	visibility: hidden;
	cursor: default;
}

.SYSTEM_LINK
{
	text-decoration: underline;
	cursor: hand;
}

.DTLPANE_FIELD
{
	font-weight: normal;
	white-space: nowrap;
}

.DTLPANE_VALUE
{
	padding-left: 10px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ViewConfigPaneClass
{
}

.PANE
{
	border:0px;
}

.GridPaneClass
{
	border:1px solid;
}

.PANE_RESIZER_PAD
{
	position: absolute;
	display: none;
	overflow: hidden;
	filter: alpha(opacity=0);
}

.PANE_HEADER
{
	position:absolute;
	top: 0px;
	left: 0px;
	height: 26px;
	line-height:21px;
	font-weight:bold;
	width: 100%;
	border-bottom: 1px solid;
	padding:0px 0px 0px 5px;
	overflow: hidden;
}

.PANE_BODY
{
	position: absolute;
	padding-top:24px;
	z-index: -1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.PANE_CLOSE_BUTTON
{
	position: absolute;
	right: 5px;
	top: 3px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	cursor: default;
}

.HDXTBL_HEAD
{
}

.HDXTBL_BODY
{
}

.HDXTBL_COLHEAD
{
	border:1px;
	border-left:0px;
	border-top:0px;
	border-style:solid;
	padding:0px 0px 0px 5px !important;
	text-overflow:ellipsis;
	font-size:10pt;
}

.alarmColHeading
{
	font-weight:bold;
	width: 100%; 
	top:0px;
	height:100%;
	padding:0px 0px 0px 0px;
	left:0px;
	margin:0px 0px 0px 0px !important;
}

.blankHeader
{
	position:absolute;
}

.alarmColHeading .blankHeader
{
	position:absolute;
	width:25px;
	height:23px;
	margin:0px 0px 0px -5px !important;
	overflow:visible !important;
}

.alarmColHeading .textHeader
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.HDXTBL_COLBODY
{
}

.HDXTBL_CELL
{
}

.HDX_SCROLLBAR, BODY
{
}

.HDX_MENU
{
	border:1px solid;
	font-size:10pt;
}

.HDX_MENUITEM
{
}

.inputValue
{
	border:1px solid;
	height:24px;
	line-height:20px;
	padding-left:5px;
}

.MENUITEM
{
	position: relative;
	padding-left:0px;
	left: 0px;
	top: 0px;
	overflow: visible;
	display: block;
}

.MENUITEM_HOVER
{
	padding-left:0px;
	cursor:hand;
}

.summaryBtnTab
{
	position: absolute;
	padding-top: 3px;
	left: 4px;
	top: 28px;
	cursor:hand;
	text-align: center;
	border:1px solid;
	border-bottom:0px solid;
	height: 25px;
	width: 100px;
	z-index: 2;
	overflow: hidden;
}

.summaryBtnTabSelected
{
	position: absolute;
	cursor: default;
	padding-top: 3px;
	left: 4px;
	top: 28px;
	text-align: center;
	border:1px solid;
	border-bottom:0px solid;
	height: 25px;
	width: 100px;
	z-index: 2;
	overflow: hidden;
}

.summaryTabContainer
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin:4px 0px 0px 1px;
	padding:0px;
	border:1px solid;
}

.summaryTabContent
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	margin:0px 0px 0px 0px;
	padding:0px;
	border:0px solid;
}

.DetailsPaneClass
{
	width: 100%;
}


#CommentsData table
{
	font-size:12px;
}

textarea
{
	border: 1px inset;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	background:#343434;
}

.existCommentsClass
{
	font-size:12px;
	margin:0px;
	border:1px solid;
	padding:0px 10px 10px 10px;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll
}

#btnSaveDetails
{
	position:absolute;
	bottom:0px;
	right:10px;
	width:156px;
	height:28px;
	border:1px solid;
	behavior:url(#HDXElementsFactory#Button);
	font-size:12px;
}

#btnSaveDetails span
{
	position: absolute;
	top: 5px;
	left: 24px;
	text-align:center;
}

.downArrow
{
	BEHAVIOR: url(#HDXVectorFactory#polygon);
	position: relative;
	display: inline;
	border:0px !important;
	overflow: hidden;
	padding-left:0px;
	margin:-8px 0px 0px 0px;
	left:5px;
	height: 4px;
	width: 8px;
}

.lblFilter
{
	position: absolute;
	display: none;
	text-align: right;
	width: 120px;
	height: 26px;
	overflow: hidden;
	z-index: 50;
	font-weight: bold;
}

#AreaPane
{
	display: none;
	position:absolute;
	z-index:15;
	left: 10px;
	overflow: visible;
}

.AreaPaneClass
{
	border:1px solid;
}

.pauseEnabled, .pauseDisabled, .resumeEnabled, .resumeDisabled
{
	position: absolute;
	top: 0px;
	height: 27px;
	width: 120px;
	z-index: 1;
	border:1px solid !important;
	overflow: hidden;
	padding:4px 0px 0px 25px !important;
	behavior: url(#HDXElementsFactory#Button);
}

.pauseEnabled, .pauseDisabled
{
	left: 0px;
}

.resumeEnabled, .resumeDisabled
{
	left: 130px;
}

.pauseBtnMsg
{
	display: none;
	position: absolute;
	border: 0px;
	font-weight: bold;
	text-align: right;
	bottom: 7px;
	z-index: 100 !important;
	width: 80px;
	height: 23px;
	overflow: hidden;
}

.AcknowledgePageEnabled, .AcknowledgePageDisabled
{
	position: absolute;
	right: 9px;
	bottom: 8px;
	height: 27px;
	padding:4px 0px 0px 25px !Important;
	z-index: 1;
	width:195px;
	border:1px solid !important;
	overflow: hidden;
	visibility: hidden;
	behavior: url(#HDXElementsFactory#Button);
}

.audibleSuppressionEnabled, .audibleSuppressionDisabled
{
	position: absolute;
	right: 545px;
	bottom: 8px;
	height: 27px;
	border:1px solid !important;
	z-index: 1;
	width: 85px;
	overflow: hidden;
	visibility: hidden;
	behavior: url(#HDXElementsFactory#Button);
}

.resumeEnabled, .resumeEnabled_ovr, .pauseEnabled, .pauseEnabled_ovr, .toolBarBtn, .AcknowledgePageEnabled, .clearPageEnabled,
.generateEventEnabled, .audibleSuppressionEnabled, .saveViewBtnEnabled, .deleteViewEnabled, .alarmOverFlowAck, .alarmOverFlowAck_ovr,
.resetViewClass, .resetViewClass_ovr, .ClearFilter, .ClearFilter_ovr, .shelveAlarm, .dialogShelveAlarm, .unshelveAlarm
{
	cursor:hand !important;
}

.toolBarBtnDisabled, .resumeDisabled, .pauseDisabled, .clearPageDisabled, .AcknowledgePageDisabled, .generateEventDisabled,
.audibleSuppressionDisabled, .saveViewBtnDisabled, .deleteViewDisabled, .shelveAlarmDisabled, .dialogShelveAlarmDisabled, .unshelveAlarmDisabled
{
	cursor:default;
}

.generateEventEnabled, .generateEventDisabled
{
	position: absolute;
	right: 9px;
	bottom: 8px;
	height: 27px;
	z-index: 1;
	border:1px solid !important;
	padding:4px 0px 0px 25px !important;
	width: 195px;
	overflow: hidden;
	behavior: url(#HDXElementsFactory#Button);
}

.clearPageEnabled, .clearPageDisabled
{
	position: absolute;
	right: 9px;
	bottom: 37px;
	border:1px solid;
	height: 27px;
	z-index: 1;
	padding:4px 0px 0px 25px !important;
	width: 195px;
	overflow: hidden;
	behavior: url(#HDXElementsFactory#Button);
}

.alarmOverFlowAck
{
	position: absolute;
	bottom:37px;
	height:27px;
	width:165px;
	z-index:5;
	border:1px solid !important;
	padding:4px 0px 0px 25px !important;
	overflow:hidden;
	behavior:url(#HDXElementsFactory#Button);
}

.toolBarBtn, .toolBarBtnDisabled
{
	float:left;
	position:relative;
	display:block;
	margin-right:4px !important;
	width:20px;
	height:20px;
	overflow:hidden;
	padding:0px 0px 0px 0px;
}

.shelveAlarm, .shelveAlarmDisabled, .dialogShelveAlarm, .dialogShelveAlarmDisabled, .unshelveAlarm, .unshelveAlarmDisabled
{
	position: absolute;
	overflow: hidden;
	border:1px solid !important;
	z-index: 1;
	height:27px;
	bottom:37px;
	padding:4px 0px 0px 25px !important;
	behavior: url(#HDXElementsFactory#Button);
	visibility: visible;
}

.shelveAlarm, .shelveAlarmDisabled
{
	right: 335px;
	width: 125px;
}

.dialogShelveAlarm, .dialogShelveAlarmDisabled
{
	right:210px;
	width:120px;
}

.unshelveAlarm, .unshelveAlarmDisabled
{
	right: 10px;
	width: 195px;
}

.resetViewClass, .resetViewClass_ovr, .ClearFilter, .ClearFilter_ovr
{
	border:1px solid !important;
}

.resetViewClass, .resetViewClass_ovr, .resetViewDisabled, .ClearFilter, .ClearFilter_ovr, .FilterDisabled
{
	width: 140px;
	height:26px;
	padding:4px 0px 0px 20px !important;
}

.spanViewListClass
{
	position: absolute;
	padding:3px;
	white-space: nowrap;
	border:1px solid;
	left:165px;
	top:75px;
	width: 252px;
	overflow-x: hidden;
	line-height:21px;
	overflow-y: auto;
	z-index:50;
}

.saveDetailsDisabled
{
	position: absolute;
	color:#717171;
	bottom: 0px;
	right: 10px;
	width: 156px;
	height: 28px;
	font-size: 9pt;
}

.saveDetailsEnabled
{
	position: absolute;
	color: buttontext;
	bottom: 0px;
	right: 10px;
	border:1px solid !important;
	cursor:hand;
	width: 156px;
	height: 28px;
	font-size: 9pt;
}

.viewTxtAreaName, .viewTxtAreaNameDisabled
{
	position: absolute;
	top: 103px;
	left: 207px;
	width: 155px;
	text-align: right;
	height:25px;
	line-height:20px;
	border:1px solid;
	padding:0px 5px 0px 5px;
}

.locationBrowserDisabled
{
	position: absolute;
	border:1px solid;
	top:0px;
	left:307px;
	height:25px;
	width:25px;
	text-align:center;
}

.locationBrowserEnabled
{
	position: absolute;
	border:1px solid !important;
	top:0px;
	left:307px;
	height:25px;
	cursor:hand !important;
	width:25px;
	font-weight:bold !important;
	text-align:center !important;
	padding:0px 0px 0px 4px !important;
}

.addCommentsTxt
{
	font-family:Arial;
	border: 1px solid;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	margin-top:-1px;
	overflow-y: scroll;
	padding:10px;
}

.saveViewBtnDisabled, .saveViewBtnEnabled
{
	position: absolute;
	right: 10px;
	top: 56px;
	height:26px;
	line-height:23px;
	width: 86px;
	border:1px solid !important;
	padding:0px 0px 0px 25px !important;
}

.dropAreaPaneEnabled
{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 26px;
	width: 100px;
	padding:4px 0px 0px 5px !important;
	line-height:23px !Important;
	border:1px solid !important;
	display:inline;
	overflow:hidden;
	cursor:hand !important;
	white-space: nowrap;
	behavior: url(#HDXElementsFactory#Button);
}

.deleteViewEnabled, .deleteViewDisabled
{
	position: absolute;
	right: 10px;
	top: 86px;
	height: 26px;
	width: 85px;
	line-height:23px;
	border:1px solid !important;
	padding:0px 0px 0px 25px !important;
	behavior: url(#HDXElementsFactory#Button);
}

.areaPaneClose, .areaPaneOpen
{
	height: 100%;
	width: 100%;
	border:1px solid !important;
	cursor:hand;
	behavior: url(#HDXElementsFactory#Button);
}

.linkTextHidden
{
	overflow: hidden;
	display: none;
	clear: left;
	position: relative;
	height:25px;
	padding-left:28px;
	cursor: hand;
	white-space: nowrap;
}

.linkTextVisible
{
	overflow: hidden;
	display: block;
	clear: left;
	position: relative;
	height:25px;
	padding:3px 0px 0px 28px;
	cursor: hand;
	white-space: nowrap;
}

.selectNoneBtn
{
	position: absolute;
	border:1px solid !important;
	top:25px;
	left:0px;
	line-height:20px;
	margin-top:5px !important;
	padding-left:4px !important	;
	height:26px;
	width:100%;
	cursor:hand !important;
	behavior: url(#HDXElementsFactory#Button);
}

.sysSumTopBand
{
	display: inline;
	position: absolute;
	zoom: 1;
	z-index: 1;
	left: 0px;
	border:1px solid #b4b4b4;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	top: 0px;
	width: 100%;
	height: 43px;
}

.displayTitle
{
	display: inline-block;
	padding: 10px;
	float:left;
	font-weight: normal;
	font-size: 18px;
}

/*================ Ends Here =================================*/

/* Aggregates in bottom left corner */
#lblUnackLabel,
#divUnackFilteredTotal,
#lblOfUnackTotal,
#divUnackUnfilteredTotal,
#lblAckLabel,
#divAckFilteredTotal,
#lblOfAckTotal,
#divAckUnfilteredTotal,
#lblShelvedLabel,
#divShelvedFilteredTotal,
#lblOfShelvedTotal,
#divShelvedUnfilteredTotal,
#lblSuppressedLabel,
#divSuppressedFilteredTotal,
#lblOfSuppressedTotal,
#divSuppressedUnfilteredTotal
{
	display: inline;
	white-space: nowrap;
	position: absolute;
	cursor: default;
	z-index: 1;
}

#lblUnackLabel
{
	left: 10px;
	bottom: 53px;
	overflow: hidden;
	width: 190px;
	height: 25px;
	text-overflow: ellipsis;
}

#divUnackFilteredTotal
{
	left: 160px;
	bottom: 53px;
	text-align: right;
	font-weight: bold;
	overflow: hidden;
	width: 35px;
	height: 25px;
}

#lblOfUnackTotal
{
	left: 200px;
	bottom: 53px;
	text-align: center;
	overflow: hidden;
	width: 15px;
	height: 25px;"
}

#divUnackUnfilteredTotal
{
	left: 220px;
	bottom: 53px;
	text-align: left;
	border: 0px;
	font-weight: bold;
	background-color: transparent;
	width: 35px;
	height: 25px;
	overflow: hidden;"
}

#lblAckLabel
{
	left: 10px;
	bottom: 36px;
	overflow: hidden;
	width: 190px;
	height: 25px;
	text-overflow: ellipsis;
}

#divAckFilteredTotal
{
	text-align: right;
	left: 160px;
	bottom: 36px;
	font-weight: bold;
	overflow: hidden;
	width: 35px;
	height: 25px;
}

#lblOfAckTotal
{
	display: none;
	left: 200px;
	bottom: 36px;
	overflow: hidden;
	text-align: center;
	width: 15px;
	height: 25px;
}

#divAckUnfilteredTotal
{
	display: none;
	left: 220px;
	border: 0px;
	font-weight: bold;
	text-align: left;
	bottom: 36px;
	background-color: transparent;
	width: 35px;
	height: 25px;
	overflow: hidden;
}

#lblShelvedLabel
{
	left: 10px;
	bottom: 19px;
	overflow: hidden;
	width: 190px;
	height: 25px;
	text-overflow: ellipsis;
}

#divShelvedFilteredTotal
{
	text-align: right;
	left: 200px;
	font-weight: bold;
	bottom: 19px;
	overflow: hidden;
	width: 35px;
	height: 25px;
}

#lblOfShelvedTotal
{
	left: 245px;
	bottom: 19px;
	overflow: hidden;
	text-align: center;
	width: 15px;
	height: 25px;
}

#divShelvedUnfilteredTotal
{
	left: 267px;
	border: 0px;
	font-weight: bold;
	text-align: right;
	bottom: 19px;
	background-color: transparent;
	width: 35px;
	height: 25px;
	overflow: hidden;
}

#lblSuppressedLabel
{
	left: 10px;
	bottom: 2px;
	overflow: hidden;
	width: 190px;
	height: 25px;
	text-overflow: ellipsis;
}

#divSuppressedFilteredTotal
{
	text-align: right;
	left: 200px;
	font-weight: bold;
	bottom: 2px;
	overflow: hidden;
	width: 35px;
	height: 25px;
}

#lblOfSuppressedTotal
{
	left: 245px;
	bottom: 2px;
	overflow: hidden;
	text-align: center;
	width: 15px;
	height: 25px;
}

#divSuppressedUnfilteredTotal
{
	left: 267px;
	border: 0px;
	font-weight: bold;
	text-align: right;
	bottom: 2px;
	background-color: transparent;
	width: 35px;
	height: 25px;
	overflow: hidden;
}

.spnViewLabel
{
	display: inline;
	position: absolute;
	left: 110px;
	top:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
}

.btnDropViewList
{
	position:absolute;
	top:0px;
	width:auto;
	border:1px solid !important;
	height:26px;
	line-height:23px !important;
	cursor:hand !important;
	overflow:hidden;
	white-space:nowrap;
	behavior: url(#HDXElementsFactory#Button);
	left:160px;
	padding:1px 10px 0px 5px !important;
}

.btnNewActDList, .btnNewActDisabledList
{
	position: absolute;
	right: 0px;
	top: 0px;
	height:29px;
	width: 100px;
	z-index: 1;
	overflow: hidden;
	padding:0px 0px 0px 30px !important;
	cursor:hand !important;
	line-height:29px !important;
	border:1px solid !important;
	behavior: url(#HDXElementsFactory#Button);
}

.btnGoEnabled,  .btnHoldEnabled, .btnStopEnabled, .btnAbortEnabled, .btnRemoveEnabled,
.btnGoEnabled_ovr,  .btnHoldEnabled_ovr, .btnStopEnabled_ovr, .btnAbortEnabled_ovr, .btnRemoveEnabled_ovr
{
	cursor:hand !important;
}

.btnGoEnabled, .btnGoDisabled, .btnHoldEnabled, .btnStopEnabled, .btnAbortEnabled, .btnRemoveEnabled,
.btnHoldDisabled, .btnStopDisabled, .btnAbortDisabled, .btnRemoveDisabled
{
	float:left;
	position:relative;
	display:block;
	margin-right:4px !important;
	width:85px;
	height:25px;
	border:1px solid !important;
	overflow:hidden;
	padding:3px 3px 0px 23px !important;
	text-align: left;
	behavior: url(#HDXElementsFactory#Button);
}

.newActOptList
{
	display:inline;
	position:absolute;
	white-space: nowrap;
	z-index:2;
	right: 0px;
	top:31px;
	width: 150px;
	height:60px;
	visibility: hidden;
	overflow: hidden;
	border: 1px solid;
	padding:3px 3px 1px 3px !important;
}
	
.newBatchBtn, .newProcedureBtn
{
	width:100%;
	clear:both;
	cursor:hand !important;
	padding:0px 0px 0px 4px;
	line-height:25px;
	height:25px;
}

.btnNewBatch, .btnNewBatchDisabled, .btnNewProcedure, .btnNewProcedureDisabled
{
	position: absolute;
	right: 0px;
	top: 0px;
	height:29px;
	z-index: 1;
	overflow: hidden;
	padding:0px 0px 0px 30px !important;
	cursor:hand !important;
	line-height:29px !important;
	border:1px solid !important;
	behavior: url(#HDXElementsFactory#Button);
}

.btnNewBatch, .btnNewBatchDisabled
{
	width: 103px;
}

.btnNewProcedure, .btnNewProcedureDisabled
{
	width: 128px;
}