v\:* 
{
	behavior:url(#default#VML);
}

#Selected_Active_Cells
{
	font-weight: bold;
	background-color: activecaption;
	color: captiontext;
}

#Selected_Active_Unassigned_Cells
{
	font-weight: bold;
	background-color: activecaption;
	color: inactivecaptiontext;
}

#Selected_Inactive_Cells
{
	background-color: inactivecaption;
	color: inactivecaptiontext;
	font-weight: bold;
}

#Selected_Inactive_Unassigned_Cells
{
	background-color: inactivecaption;
	color: inactivecaptiontext;
	font-weight: bold;
}

#Unassigned_Cells
{
	color: graytext;
}

#Table
{
	background-color: threeddarkshadow;
	color: window;
}

.SYSTEM_LINK
{
	color: blue;
	text-decoration: underline;
	cursor: hand;
}

.DTLPANE_FIELD
{
	font-weight: normal;
	white-space: nowrap;
	color: windowtext;
}

.DTLPANE_VALUE
{
	padding-left: 10px;
	font-weight: bold;
	white-space: nowrap;
	color: windowtext;
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.PANE 
{
	border: 1px solid;
	border-right-color: threedhighlight;
	border-bottom-color: threedhighlight;
	border-left-color: threedshadow;
	border-top-color: threedshadow;
}

.PANE_RESIZER_PAD
{
	position: absolute;
	display: none;
	background-color: white;
	overflow: hidden;
	filter: alpha(opacity=0);
}

.PANE_HEADER
{
	padding-left: 2px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 22px;
	width: 100%;
	border: 1px solid;
	border-top-color: threedhighlight;
	border-left-color: threedhighlight;
	border-right-color: threedshadow;
	border-bottom-color: threedshadow;
	background-color: threedface;
	color: windowtext;
	overflow: hidden; 
}

.PANE_BODY
{
	position: absolute;
	padding-top: 24px;
	z-index: -1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: threedface;
	color: windowtext;
}

.MENUITEM_HOVER
{
	background-color: highlight;
	color: highlighttext;
}

.PANE_CLOSE_BUTTON
{
	position: absolute;
   	right: 0px;
   	top: 0px;
   	width: 20px;
   	height: 20px;
   	overflow: hidden;
   	cursor: default;
}

.HDXTBL_HEAD { }
.HDXTBL_BODY { }
.HDXTBL_COLHEAD 
{ 
	border: 1px solid;
	border-top-color: threedhighlight;
	border-left-color: threedhighlight;
	border-right-color: threedshadow;
	border-bottom-color: threedshadow;
	padding: 2px;
	background-color: threedface;
	color: windowtext;
	overflow: hidden;
	text-overflow: ellipsis;
}
.HDXTBL_COLBODY { }
.HDXTBL_CELL { }

.HDX_SCROLLBAR, BODY
{ 
	scrollbar-face-color: threedface;
	scrollbar-arrow-color: windowtext;
	scrollbar-track-color: threedface;
	scrollbar-highlight-color: threedhighlight;
	scrollbar-3dlight-color: threedlightshadow;
	scrollbar-shadow-color: threedshadow;
	scrollbar-darkshadow-color: threeddarkshadow;
}
.HDX_MENU 
{ 
	background-color: menu;
	color: menutext;
	border: 2px outset;
}
.HDX_MENUITEM { }

  