.Default_Style
{
	ColorBackGround: #ffffff;
	ColorMsgText: #000000;
	ColorMsgBackGround: #dddddd;
	ColorBackGroundOn: #00ff00;
	ColorBackGroundOff: #ffffff;
	ColorBackGroundError: #0000ff;
	ColorBackGroundDefault: #ffffff;
	ColorTextOn: #000000;
	ColorTextOff: #000000;
	ColorTextError: #000000;
	ColorTextDefault: #000000;
	ColorGatterTextDefault: #000000;
	ColorGatterBackGroundDefault: #cccccc;
	ColorLineOn: #00ff00;
	ColorLineOff: #aaaaaa;
	ColorLineError: #0000ff;
	ColorLatchOnText: #000000;
	ColorLatchOnTextBackGround: #ffff00;
	ColorLatchOffText: #000000;
	ColorLatchOffTextBackGround: #aaaaaa;
	ColorLatchErrorText: #000000;
	ColorLatchErrorTextBackGround: #0000ff;
	AllowSimultaneousFP:0;
	MessageTimer: 5000;
	UpdateTimer: 200;
	DisplayErrorMessages: 1;
	IECGates:0;

	/* #### DEPERECATED COLORS  BEGIN ####
	ColorLineDefault: #000000;
	ColorGatterTextOn: #000000;
	ColorGatterTextOff: #000000;
	ColorGatterTextError: #000000;
	ColorGatterBackGroundOn: #00ff00;
	ColorGatterBackGroundOff: #aaaaaa;
	ColorGatterBackGroundError: #0000ff; 
	#### DEPERECATED COLORS  END #### */
}

.Custom_Style
{
	ColorBackGround: #ffffff;
	ColorMsgText: #000000;
	ColorMsgBackGround: #dddddd;
	ColorBackGroundOn: #00ff00;
	ColorBackGroundOff: #ffffff;
	ColorBackGroundError: #0000ff;
	ColorBackGroundDefault: #ffffff;
	ColorTextOn: #000000;
	ColorTextOff: #000000;
	ColorTextError: #000000;
	ColorTextDefault: #000000;
	ColorGatterTextDefault: #000000;
	ColorGatterBackGroundDefault: #cccccc;
	ColorLineOn: #00ff00;
	ColorLineOff: #aaaaaa;
	ColorLineError: #0000ff;
	ColorLatchOnText: #000000;
	ColorLatchOnTextBackGround: #ffff00;
	ColorLatchOffText: #000000;
	ColorLatchOffTextBackGround: #aaaaaa;
	ColorLatchErrorText: #000000;
	ColorLatchErrorTextBackGround: #0000ff;
	AllowSimultaneousFP:0;
	MessageTimer: 5000;
	UpdateTimer: 200;
	DisplayErrorMessages: 1;
	IECGates:1;

	/* #### DEPERECATED COLORS  BEGIN ####
	ColorLineDefault: #000000;
	ColorGatterTextOn: #000000;
	ColorGatterTextOff: #000000;
	ColorGatterTextError: #000000;
	ColorGatterBackGroundOn: #00ff00;
	ColorGatterBackGroundOff: #aaaaaa;
	ColorGatterBackGroundError: #0000ff; 
	#### DEPERECATED COLORS  END #### */
}

.ilock-signal-text{
	hw-text-family:arial;
	hw-text-size:10pt;
}=