#TabSet
{
	behavior: url(Tabs.htc);
	margin: 0px;
}

#WaitingSpan
{
	display: block;
}

#GroupDetails
{
	display: none;
}

#DisplayArea
{
	margin-left: 0px;
}

#GroupListTable
{
    border-style: none;
    overflow: scroll;
}

#GroupTableDiv
{
   border-style: none;
   overflow: auto;
}

#lblDirtyText, #lblErrorString
{
    COLOR: red;
    FONT-STYLE: italic
}

#PageLinks
{
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right;
}

.DetailsArea td
{
	padding: 0px 20px 0px 0px;
}

.DetailsArea tr
{
	height: 25px;
	overflow-y: visible;
}

.clsGroupLink
{
    CURSOR: hand;
    COLOR: blue;
    TEXT-DECORATION: underline
}

INPUT.clsSmall
{
    WIDTH: 100px;
}

INPUT.clsLarge
{
    WIDTH: 180px
}

INPUT.pickerbutton
{
	float: none;
	position: relative;
}

#txtGroupId, #lstGroups
{
	background-color: #ffffff;
	color: #000000;
	font-family: helvetica;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;    
}
