body {
	max-width: 200px !important;
	overflow-x: hidden !important;
	
	scrollbar-base-color:#354459;
    scrollbar-shadow-color: #3B4B61;
    scrollbar-highlight-color:#3B4B61;
    scrollbar-3dlight-color: #243245;
    scrollbar-darkshadow-color:#243245;
    scrollbar-track-color:#2C3B50;
    scrollbar-arrow-color:#495B73;
}

#Page
{
}


.PageBackground {
	hw-fill-color: #2C3B50;
}

.RelegendableKeyRectangle {
	hw-fill-color: #3C516C;
}