/*!*****************************************************************************
 *           COPYRIGHT 2019              HONEYWELL INTERNATIONAL SARL         *
 ******************************************************************************/
hn-suppression-status {
  /* Rtl support */ }
  hn-suppression-status [data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start; }
  hn-suppression-status .simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit; }
  hn-suppression-status .simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0; }
  hn-suppression-status .simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch; }
  hn-suppression-status .simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
    width: auto;
    visibility: visible;
    overflow: auto;
    /* Scroll on this element otherwise element can't have a padding applied properly */
    max-width: 100%;
    /* Not required for horizontal scroll to trigger */
    max-height: 100%;
    /* Needed for vertical scroll to trigger */ }
  hn-suppression-status .simplebar-content:before,
  hn-suppression-status .simplebar-content:after {
    content: ' ';
    display: table; }
  hn-suppression-status .simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none; }
  hn-suppression-status .simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0; }
  hn-suppression-status .simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1; }
  hn-suppression-status .simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden; }
  hn-suppression-status [data-simplebar].simplebar-dragging .simplebar-content {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; }
  hn-suppression-status [data-simplebar].simplebar-dragging .simplebar-track {
    pointer-events: all; }
  hn-suppression-status .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px; }
  hn-suppression-status .simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: black;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear; }
  hn-suppression-status .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    transition: opacity 0s linear; }
  hn-suppression-status .simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px; }
  hn-suppression-status .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px; }
  hn-suppression-status .simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px; }
  hn-suppression-status .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px; }
  hn-suppression-status .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto; }
  hn-suppression-status [data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0; }
  hn-suppression-status .hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll; }
  hn-suppression-status .simplebar-scrollbar::before {
    background: #a0a0a0; }
  hn-suppression-status hn-notification-table {
    color: #f0f0f0;
    font-family: Honeywell Sans Web;
    font-size: 12px;
    font-weight: bold; }
    hn-suppression-status hn-notification-table tableDefs {
      display: none; }
  hn-suppression-status .notif-table-container {
    width: 100%;
    height: 100%;
    position: absolute; }
  hn-suppression-status .notif-table-header {
    width: 100%;
    position: absolute;
    display: table-row;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    background-color: #303030;
    color: #b0b0b0;
    font-size: 0; }
    hn-suppression-status .notif-table-header .notif-table-header-cell {
      position: relative;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      font-family: Honeywell Sans Web;
      font-size: 12px;
      font-weight: bold; }
  hn-suppression-status .notif-table-body-frame {
    width: 100%;
    bottom: 0px;
    position: absolute;
    overflow-x: hidden;
    background-color: #303030; }
  hn-suppression-status .notif-table-body-canvas {
    width: 100%;
    position: absolute; }
    hn-suppression-status .notif-table-body-canvas .notif-table-row-even {
      background-color: #383838; }
  hn-suppression-status .notif-table-row-frame {
    width: 100%;
    font-size: 0;
    display: table-row;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap; }
    hn-suppression-status .notif-table-row-frame .notif-table-content-cell {
      position: relative;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      font-family: Honeywell Sans Web;
      font-size: 12px;
      font-weight: bold; }
  hn-suppression-status .notif-table-row-selected {
    background-color: #1792e5;
    color: #f0f0f0; }
  hn-suppression-status .suppression-status-container {
    width: 100%;
    height: 100%; }
  hn-suppression-status .banner {
    top: 0px;
    width: 100%;
    height: 10%;
    position: absolute; }
  hn-suppression-status .notif-table-element {
    width: 100%;
    height: 90%;
    bottom: 0px;
    position: absolute; }
