.st_Active_S0
{ 
	hw-animation-breakpoint0-class: active;
	hw-animation-breakpoint1-class: inactive;
	hw-animation-breakpoint2-class: inactive;
	hw-animation-breakpoint3-class: inactive;
}

.st_Active_S1
{ 
	hw-animation-breakpoint0-class: inactive;
	hw-animation-breakpoint1-class: active;
	hw-animation-breakpoint2-class: inactive;
	hw-animation-breakpoint3-class: inactive;
}

.st_Active_S2
{ 
	hw-animation-breakpoint0-class: inactive;
	hw-animation-breakpoint1-class: inactive;
	hw-animation-breakpoint2-class: active;
	hw-animation-breakpoint3-class: inactive;
}

.st_Active_S3
{ 
	hw-animation-breakpoint0-class: inactive;
	hw-animation-breakpoint1-class: inactive;
	hw-animation-breakpoint2-class: inactive;
	hw-animation-breakpoint3-class: active;
}




.inactive
{ 
	hw-line-width:2;
	hw-line-color:#5F5F5F;
	hw-line-style:dot;
}

.active
{ 
	hw-line-width:2;
	hw-line-color:#5F5F5F;
	hw-line-style:solid;
}