.PointName_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Description_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.General_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.IOType_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: #6987E7;
	hw-line-color: #6987E7;
	hw-text-effect: Bold;
	hw-text-align: center;
}

.IOState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-fill-color: black;
	hw-line-color: black;
	hw-text-align: center;
}

.Txt_Label_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: gray;
	hw-text-effect: None
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Dataentry_Alphanumeric_Style	
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: black;
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-text-effect: bold;
	hw-text-align: Right;
	hw-text-family: Arial;
	hw-text-size: 12pt;

}

.Dataentry_Left_Alphanumeric_Style	
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: black;
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-text-effect: bold;
	hw-text-align: Left;
	hw-text-family: Arial;
	hw-text-size: 12pt;

}

.Dataentry_Combobox_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-fill-color: White;
	hw-fill-style: none;
	hw-line-color: White;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Alarm_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-color: black;
	
}

.SimState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-color: black;
	
}

.Readonly_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-color: Black;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	
}

.ReadOnly_Alphatext_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-Fill-color: #DED8D0;
	hw-text-effect: Bold;
	hw-text-color: Black;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-style: none;		

}

.ReadOnly_Alphatext_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-Fill-color: #DED8D0;
	hw-text-effect: Bold;
	hw-text-color: Black;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-style: none;		

}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-color: Black;
	hw-Fill-color: Transparent;
	hw-fill-style: None;
	hw-text-effect: Bold;	
	hw-text-family: Arial;
	hw-text-size: 12pt;
		
}

		/* What is the style for titles of control confirmation information */