/* EPKS Style Sheet CLASSIC - SM CDA SB FPs */
@import url("./SysFaceplate.css");
/*-----------------------------------------------*/
/* SM CDA SB FP Specific styles */
/*-----------------------------------------------*/
.TxtSt
{
	hw-text-color:#808080;
	hw-fill-color:transparent;
	hw-text-effect:none;
	hw-visibility:inherit;
}
.TxtSt_Active
{
	hw-text-color:#000000;
	hw-fill-color:transparent;
	hw-text-effect:bold;
	hw-visibility:inherit;
}
.TxtSt_Bad
{
	hw-text-color:#808080;
	hw-fill-color:#000000;
	hw-text-effect:none;
	hw-visibility:hidden;
}
.TxtSt_OffScan
{
	hw-text-color:#BFBFBF;
	hw-fill-color:#000000;
	hw-text-effect:none;
	hw-visibility:inherit;
}
.Buttons
{
	hw-line-style:outset;
	hw-line-color:#FFFFFF;
	hw-line-width:2;
	hw-fill-color:#D4D0C8;
	hw-text-color:#000000;
}
.RecFrame
{
	hw-line-color:transparent;
	hw-fill-color:#DDDDDD;
	hw-visibility:inherit;
}