/* EPKS Style Sheet*/

#Background
{
	/* Style class applies to Set background color of the complete page*/
	BACKGROUND-COLOR: #CBCCCE!important;  
}

#page
{
	/* Style class applies to set background color of the faceplate area*/
        BACKGROUND-COLOR: #CBCCCE!important;     
}

.PointName_Style
{
	/* Style class applies to AlphaText used for Point Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
	top:4px !important;
	height:20px !important;

}
.PointName_LongTag_Style
{
	/* Style class applies to AlphaText used for Point Name when the point name character will not fit in single line*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
	top:4px !important;
	height:34px !important;
	word-wrap: break-word !important;
	word-break: break-all !important;
}

.Description_Style
{
	/* Style class applies to AlphaText used for Description */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
	top:25px !important;
	height:48px !important;
}
.Description_LongTag_Style
{
	/* Style class applies to AlphaText used for Description when the point name character will not fit in single line*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
	top:39px !important;
	height:34px !important;
}

.Header_Style
{
	/* Style class applies to AlphaText used for Header Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
}

.Header_Center_Style
{
	/* Style class applies to AlphaText used for Header Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: center;
	hw-text-color: #000000;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
}

.General_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-color: #000000;
	hw-text-effect: none;
	hw-fill-color: transparent;	     
}

.General_Center_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-text-align: center;    
}

.General_Center_Bold_Style
{
	/* Style class applies to AlphaText used for Header Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: center;
	hw-text-color: #000000;
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-color: transparent;
}

.General_Left_Style
{
	/* Style class applies to AlphaText used for Unit text in Analog & Accumulator (EPKS), general headings*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Right_Style
{
	/* Style class applies to AlphaText used for PV Range, Unit text*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: right;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Style_HW
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-color: #FFFFFF;
}

.General_Unit_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: transparent;
}

.Active_Faceplate_Style
{
	/* style class for hi-lite selected faceplate in group displays */
	 hw-line-color: #000000;
}

.Header_Background_Style
{
	/* style class for header rectangle in group displays */
	hw-fill-color: #FFFFFF;
	hw-line-color: #FFFFFF;
	hw-line-style: solid;
}

.Txt_Header_Bold_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #000000;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.IOType_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: #6987E7;
	hw-line-color: #6987E7;
	hw-text-effect: Bold;
	hw-text-align: center;
}

.IOState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-fill-color: black;
	hw-line-color: black;
	hw-text-align: center;
}

.Txt_Label_Left_Style
{
	/* Style class applies to Text used for Value labels, Unit Labels in Control Zone */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-color: #808080;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Txt_Label_Right_Style
{
	/* Style class applies to Text used for Value labels, Unit Labels in Control Zone */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: None;
	hw-text-align: right;
	hw-text-color: #808080;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Txt_Label_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: transparent;
}

.Txt_Hidden_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-visibility: hidden;
	hw-text-color: #FF0000;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: transparent;
}

.Txt_Label_Bold_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: Bold;	
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Dataentry_Alphanumeric_Style	
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #000000;	
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-text-effect: bold;
	hw-text-align: Right;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-line-width: 2;
	hw-line-style: inset;
	hw-line-color: #FFFFFF;
}

.DataEntry_Alphanumeric_Right_Style	
{
	/* Style class applies to all alpha used for numeric values with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-color: #000000;
	hw-fill-color: #FFFFFF;
	hw-line-width: 2;
	hw-line-style: inset;
	hw-line-color: #FFFFFF;
}

.Dataentry_Left_Alphanumeric_Style	
{
	/* Style class applies to all alpha used for String values with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-color: #000000;
	hw-fill-color: #FFFFFF;
	hw-line-width: 2;
 	hw-line-style: inset;
	hw-line-color: #FFFFFF;
}

.Dataentry_Combobox_Style
{
	/* Style class applies to all Combobox used with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-color: #000000;
	hw-fill-color: #FFFFFF;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-color: #808080;
	hw-combo-style: normal;
}

.Dataentry_Combobox_Right_Style
{
	/* Style class applies to all Combobox used with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-color: #000000;
	hw-fill-color: #FFFFFF;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-color: #808080;
	hw-combo-style: normal;
}

.Alarm_Style
{
	/* Style class applies to all alpha used for indicating alarm */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.SimState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-fill-color: transparent;
	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-color: #000000;	
}

.SimState_Center_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-fill-color: transparent;
	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-color: #000000;
}

.State_Small_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #000000;		
	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: Arial;	
	hw-text-size: 8pt;	
	hw-fill-color: transparent;
}

.State_Label_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: None;
	hw-text-align: Center;	
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: transparent;	
}

.State_Bold_Label_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: Bold;
	hw-text-align: Center;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: transparent;
}

.Readonly_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-color: #000000;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-color: transparent;		
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.ReadOnly_Alphatext_RightAlign_Style
{
	/* Style class applies to all alpha used for numeric values with no data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-color: #000000;
	hw-Fill-color: transparent;
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.ReadOnly_Alarmtext_RightAlign_Style
{
	/* Style class applies to all alpha used for numeric values with no data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-color: #000000;
	hw-Fill-color: transparent;
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.ReadOnly_Alarmtext_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-Fill-color: transparent;
	hw-text-effect: Bold;
	hw-text-color: #000000;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-style: none;		
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.ReadOnly_Alphatext_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-Fill-color: transparent;
	hw-text-effect: Bold;
	hw-text-color: #000000;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-style: none;		
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Right;
	hw-text-color: #000000;
	hw-Fill-color: transparent;
	hw-fill-style: None;
	hw-text-effect: Bold;	
	hw-text-family: Arial;
	hw-text-size: 12pt;
    	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;	
}

.ReadOnly_Alphatext_LCD_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	/* hw-text-family is used for monospacing to correctly represent the LCD Screen for UEA Boxes */
	hw-text-align: Left;
	hw-Fill-color: transparent;
	hw-text-effect: Normal;
	hw-text-color: #000000;	
	hw-text-family: Courier;
	hw-text-size: 8pt; 
	hw-fill-style: none;		
	hw-line-color: transparent;
	hw-line-style: None;
	hw-line-width: 0px;
}

.Hidden_Alpha_LeftAlign_Style
{
	/* Style class applies to all alpha that are hidden */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: Left;
	hw-text-color: #FF0000;
	hw-fill-color: Transparent;
	hw-line-width: 0;
	hw-visibility: hidden;
}

.Hidden_Style
{
	/* Style class applies to all alpha that are hidden */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-color: #FF0000;
	hw-fill-color: Transparent;
	hw-line-width: 0;
	hw-visibility: hidden;
}

/* following styles are used for Power Function blocks faceplate displays */

.PFB_START_OPEN
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-line-color: black;
	hw-Fill-color: #FF0000;
}

.PFB_STOP_ClOSE
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-line-color: black;
	hw-Fill-color: #00FF00;
		
}
.PFB_Bad
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FFFF00;
		
}

.PFB_ALM_NORM
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #00FF00;
	
}
.PFB_ALM_ACK
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #00BFFF;
	
}
.PFB_ALM_UNACK
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FF0000;
	
}
.PFB_ALM_UNACKRTN
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FFFF00;
	
}

.Txt_Label_Normal	
{	
	hw-fill-color:transparent;
	hw-text-color: #808080;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Txt_Label_Off_Normal	
{	
	hw-fill-color:#808080;
	hw-text-color:#DDDDDD;
	hw-text-effect:solid;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Picbackground_Style
{
	/* Style class used for background rectangle */
	hw-fill-color: #CBCCCE;
	hw-line-width: 1;
	hw-line-style: none;
	hw-line-color: #CBCCCE;
	hw-text-color: #000000;
	width: 100% !important;
}

.Pushbutton_Style
{
	hw-fill-color: #CBCCCE;	
	hw-line-width: 2;
	hw-line-style: outset;
	hw-line-color: #FFFFFF;
	hw-text-color:#000000;
	/* This style class currently has only the property setting to center the button's background image both horizontally and vertically. */
	background-position: center center;
}

.Pushbutton_Text_Only_Style
{
	hw-fill-color: transparent;	
	hw-line-width: 0;
	hw-line-style: none;
	hw-line-color: transparent;
	hw-text-color: #000000;
	/* This style class currently has only the property setting to center the button's background image both horizontally and vertically. */
	background-position: center center;
}

.Group_Line_Style
{
	/* Style class applies to line */
	hw-line-color: #C0C0C0;
	hw-line-width: 1px;
	hw-line-style: Solid;
	hw-visibility: visible;
}

.Group_Line_Style_Hidden
{
	/* Style class applies to line */
	hw-line-color: #C0C0C0;
	hw-visibility: hidden;
}

.Group_Panel_Style
{
	/* Style class applies to line */
	hw-line-color: #808080;
	hw-visibility: visible;
}

.Txt_Label_Style_Unit
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-color: #808080;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.LevelFill_Indicator_Style
{
	/* level indicator style */
	hw-fill-color: #FFFFFF;
	hw-line-color: #000000;
	hw-line-width: 1;
	hw-line-style: inset;
}

.Level_Indicator_Style
{
	/* level indicator style */
	hw-fill-color: transparent;
	hw-line-width: 1;
	hw-line-style: none;
}

.LevelFill_Indicator_Inverse_Style
{
	/* level indicator style */
	hw-fill-color: #BFBF00;
	hw-fill-level-color: #FFFFFF;
	hw-line-color: #000000;
	hw-line-width: 1;
	hw-line-style: inset;
}

.EUTickmark_Style
{
	hw-line-color: #808080;
	hw-line-width: 1;
	hw-line-style: solid;
}

.Upper_Panel_Style
{
	/* upper panel style */
	hw-fill-color: transparent;
	hw-fill-style: none;
	hw-line-color: transparent;
	hw-line-effect: none;
	hw-line-style: none;
	hw-line-width: 0;
	hw-visibility: inherit;
}

.Center_Panel_Style
{	
	/* center panel style */
	hw-fill-color: transparent;
	hw-fill-style: none;
	hw-line-color: transparent;
	hw-line-effect: none;
	hw-line-style: none;
	hw-line-width: 0;
	hw-visibility: inherit;
}

.Lower_Panel_Style
{
	/* lower panel style*/
	/*border-top: 30px solid #0c1b29;*/
	hw-fill-color: transparent;
	hw-fill-style: none;
	hw-line-color: transparent;
	hw-line-style: none;
	hw-line-width: 0;
	hw-visibility: inherit;
}

.LED_Text_Style
{
	/* Style class applies to AlphaText used for Unit text in Analog & Accumulator (EPKS), general headings*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: #000000;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Check_Option_Box_Style 
{
	hw-text-color: #808080;
	hw-text-effect: none;
	hw-text-align: left;
	hw-fill-style: none;
	hw-fill-color: Transparent;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	padding-top: 3px;
	hw-line-width: 0;
}

.Cross_Line_Style
{
}

.Error_Message_Style
{
}

.Standard_Button_Style
{
	hw-text-color: Black;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Flat_Button_Style,
.Flat_Button_Highlight_Style,
.Flat_Button_Busy_Style,
.Flat_Button_Disabled_Style,
.NW_Button_Style
{
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	font-size: 13px !important;
	background-position: center;
}

.NW_Button_Style
{
	background-image: url("../Images/More.png") !important;
}
.Flat_Button_Style,
.NW_Button_Style
{
	color: #303003 !important;
	background-color: #D0D0D0 !important;
	border: 1px solid #A0A0A0 !important;
}
.Flat_Button_Highlight_Style
{
	color: #FFFFFF !important;
	background-color:  #1792E5 !important;
	border: 1px solid #A0A0A0 !important;
}
.Flat_Button_Busy_Style
{
	color: #FFFFFF !important;
	background-color:  #23608C !important;
	border: 1px solid #A0A0A0 !important;
}
.Flat_Button_Disabled_Style
{
	color: #303003 !important;
	background-color:  #D0D0D0 !important;
	border: 1px solid #A0A0A0 !important;
}

.Fail_Message_Background
{
	background-color: #C7C7C7 !important;
	border: 1px solid #1792E5;
}

.Fail_Message_Heading
{
	hw-text-color: #303003;
	hw-text-size: 14px;
}

.Fail_Message
{
	hw-text-color: #303003;
	hw-text-size: 12px;
}
/* style for Action buttons */	
 .Display_Action_Button_Style
{
	hw-text-color: #FFFFFF;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.TableHeader_Left_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableHeader_Right_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableHeader_center_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: Bold;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableContent_Left_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: regular;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.TableContent_Right_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: regular;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;
}
.TableContent_center_Align_Style
{
	hw-text-color: #000000;
	hw-text-effect: regular;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;
}

.Comments_Style
{
	hw-text-color: #808080;
	hw-text-align: left;
	hw-text-effect: normal;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Italic;
	hw-fill-color: Transparent;
}

.Instructions_Text_Style
{
	hw-text-color: #000000;
	hw-text-align: left;
	hw-text-effect: normal;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Italic;
	hw-fill-color: Transparent;
}


.Hyperlink_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Right;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
}

.Hyperlink_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
}

.Hyperlink_RightAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.Hyperlink_LeftAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.Hyperlink_CenterAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-align: Center;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
}

.General_Shape_Style
{
	hw-fill-color: #000000;
	hw-line-color: #000000;
}

.Outind_Direct_Style
{
	hw-text-color: #000000;
	hw-text-effect: none;
}

.Outind_Reverse_Style
{
	hw-text-color: #808080;
	hw-text-effect: none;
}

.Windup_Symbol_Style
{
	hw-fill-color: #000000;
	hw-line-color: #000000;
}

.Text_On_Shape
{
	hw-text-color: #000000;
}

.Shape_Line_Color
{	
	hw-line-color: #000000;
}

.Square_Shape_Style
{	
	hw-fill-color: #808080;
	hw-line-color: #808080
}

.Square_Shape_Text_Style
{	
	hw-text-color: #FFFFFF;
}

.Black_Square_Style
{	
	hw-fill-color: #000000;
	hw-line-color: #000000;
}

.General_Inactive_Style
{
	hw-text-color: #BFBFBF;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: right;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Inactive_Left_Style
{
	hw-text-color: #BFBFBF;
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Titlebar_Background_Style
{
	hw-fill-color: #8C96AD;
	hw-line-width: 0;
	hw-line-style: none;
	hw-line-color: #8C96AD;
}

.Group_Full_Width_Style
{
	width: 100% !important;
}

.NodeTagName
{
	font-size: 14px !important;	
	font-weight: bold;
}

.NodeType
{
	font-size: 13px !important;
}

.ActiveText
{
	color: #1F1F1F !important;
}

.NonActiveText
{
	color: #B0B0B0 !important;
}

.CommandFeedbackText
{
	hw-text-family: Arial;
	hw-text-size: 12px;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-color: #3F3F3F;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.TabClose
{
	background-image: url("../Images/Tab Close.png") !important;
}

.TabOpenOverlay
{
	background-image: url("../Images/Tab Open Overlay.png") !important;
}

.TabOpenSimple
{
	background-image: url("../Images/Tab Open Simple.png") !important;
}
.StatusText
{
	font-size: 14px;
	color: #303030 !important;
}
.OnStatusText 
{
	font-size: 11px;
	color: #303030 !important;
}
.OffStatusText
{
	font-size: 11px;
	color: #808080 !important;
	font-weight: normal !important;
}
.Panel_Bottom_Anchor
{
	bottom: 0px !important;
}

.CenterBottomAnchor
{
	bottom: 178px !important;	
}
.Panel_Nav_Container
{
	hw-fill-color: #e9e9e9;
	hw-line-color: #e9e9e9;
}
.CenterBottomAnchor2
{
	bottom: 198px !important;	
}

.dropdownOpen
{
	background:  url("..\Images\Dropdown.png");
	cursor: hand;
}

.dropdownClose
{
	background:  url("..\Images\Fold Up.png");
	cursor: hand;
}

.dropdownOption
{
	background-color: #DDDDDD !important;
	cursor: hand;
}

.dropdownOptionHighlight
{
	background-color: #EEEEEE !important;
	cursor: hand;
}

.dropdownOptionSelected
{
	background-color: #1792E5 !important;
	cursor: hand;
}

.ToggleOff
{
	background:  url("..\Images\toggle_off.png") no-repeat;
	cursor: hand;
}

.ToggleOn
{
	background:  url("..\Images\toggle_on.png") no-repeat;
	cursor: hand;
}

.ToggleUnknown
{
	background:  url("..\Images\toggle_error.png");
	cursor: hand;
}

.ToggleOffDisabled
{
	background:  url("..\Images\toggle_off_disabled.png");
	cursor: hand;
}

.ToggleOnDisabled
{
	background:  url("..\Images\toggle_on_disabled.png");
	cursor: hand;
}

.Toggle
{
	cursor: hand;
}

/*styles for SP, PV and OP line indicators*/
.SP_line_style
{
	/*
	hw-line-color: #D0D0D0;*/
}

.PV_line_style
{
	/*
	hw-line-color: #D0D0D0;*/
}

.OP_line_style
{
	/*
	hw-line-color: #D0D0D0;*/
}

/* radio button images*/
div.radio_none,
div.radio_enable, 
div.radio_disable 
{
	width: 16px;
	height: 16px;
	overflow: hidden;
}
div.radio_none div,
div.radio_enable div, 
div.radio_disable div
{
	display: none !important;
	visibility: hidden !important;
}
div.radio_none {
	background:  url(..\Images\radioBtn.PNG) no-repeat 0px 0px;
}
div.radio_enable {
	background:  url(..\Images\radioBtn.PNG) no-repeat -12px 0px;
}
div.radio_disable {
	background:  url(..\Images\radioBtn.PNG) no-repeat -24px 0px;
}
/*  radio button active*/
div.radioActive_none,
div.radioActive_enable, 
div.radioActive_disable 
{
	width: 16px;
	height: 16px;
	overflow: hidden;
}
div.radioActive_none div,
div.radioActive_enable div, 
div.radioActive_disable div
{
	display: none !important;
	visibility: hidden !important;
}
div.radioActive_none {
	background:  url(..\Images\radiobtn_active.PNG) no-repeat 0px 0px;
}
div.radioActive_enable {
	background:  url(..\Images\radiobtn_active.PNG) no-repeat -12px 0px;
}
div.radioActive_disable {
	background:  url(..\Images\radiobtn_active.PNG) no-repeat -24px 0px;
}

/* for LED styling */
div.led_black,
div.led_green,
div.led_yellow,
div.led_red,
div.led_dkgreen,
div.led_grey,
div.led_ltgrey,
div.led_white,
div.led_blue,
div.led_ltblue {
	width: 16px;
	height: 16px;
	overflow: hidden;
}
div.led_black div,
div.led_green div,
div.led_yellow div,
div.led_red div,
div.led_dkgreen div,
div.led_grey div,
div.led_ltgrey div,
div.led_white div,
div.led_blue div,
div.led_ltblue div {
	display: none !important;
	visibility: hidden !important;
}

div.led_black {
	background:  url(..\Images\led.png) no-repeat 0px 0px;
}
div.led_green {
	background:  url(..\Images\led.png) no-repeat 0px -18px;
}
div.led_yellow {
	background:  url(..\Images\led.png) no-repeat 0px -36px;
}
div.led_red {
	background:  url(..\Images\led.png) no-repeat 0px -54px;
}
div.led_dkgreen {
	background:  url(..\Images\led.png) no-repeat 0px -72px;
}
div.led_grey {
	background:  url(..\Images\led.png) no-repeat 0px -90px;
}
div.led_ltgrey {
	background:  url(..\Images\led.png) no-repeat 0px -108px;
}
div.led_white {
	background:  url(..\Images\led.png) no-repeat 0px -126px;
}
div.led_blue {
	background:  url(..\Images\led.png) no-repeat 0px -144px;
}
div.led_ltblue {
	background:  url(..\Images\led.png) no-repeat 0px -162px;
}

/* for 8x8 LED styling */
div.led_black_8x8,
div.led_green_8x8,
div.led_yellow_8x8,
div.led_red_8x8,
div.led_dkgreen_8x8,
div.led_grey_8x8,
div.led_ltgrey_8x8,
div.led_white_8x8,
div.led_blue_8x8,
div.led_ltblue_8x8 {
	width: 8px;
	height: 8px;
	overflow: hidden;
}
div.led_black_8x8 div,
div.led_green_8x8 div,
div.led_yellow_8x8 div,
div.led_red_8x8 div,
div.led_dkgreen_8x8 div,
div.led_grey_8x8 div,
div.led_ltgrey_8x8 div,
div.led_white_8x8 div,
div.led_blue_8x8 div,
div.led_ltblue_8x8 div{
	display: none !important;
	visibility: hidden !important;
}

div.led_black_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px 0px;
}
div.led_green_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -9px;
}
div.led_yellow_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -18px;
}
div.led_red_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -27px;
}
div.led_dkgreen_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -36px;
}
div.led_grey_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -45px;
}
div.led_ltgrey_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -54px;
}
div.led_white_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -63px;
}
div.led_blue_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -72px;
}
div.led_ltblue_8x8 {
	background:  url(..\Images\led_8x8.png) no-repeat 0px -81px;
}


/* for 12x12 LED styling */
div.led_black_12x12,
div.led_green_12x12,
div.led_yellow_12x12,
div.led_red_12x12,
div.led_dkgreen_12x12,
div.led_grey_12x12,
div.led_ltgrey_12x12,
div.led_white_12x12,
div.led_blue_12x12,
div.led_ltblue_12x12{
	width: 12px;
	height: 12px;
	overflow: hidden;
}
div.led_black_12x12 div,
div.led_green_12x12 div,
div.led_yellow_12x12 div,
div.led_red_12x12 div,
div.led_dkgreen_12x12 div,
div.led_grey_12x12 div,
div.led_ltgrey_12x12 div,
div.led_white_12x12 div,
div.led_blue_12x12 div,
div.led_ltblue_12x12 div {
	display: none !important;
	visibility: hidden !important;
}

div.led_black_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px 0px;
}
div.led_green_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -12px;
}
div.led_yellow_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -27px;
}
div.led_red_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -42px;
}
div.led_dkgreen_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -57px;
}
div.led_grey_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -72px;
}
div.led_ltgrey_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -87px;
}
div.led_white_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -102px;
}
div.led_blue_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -117px;
}
div.led_ltblue_12x12 {
	background:  url(..\Images\led_12x12.png) no-repeat 0px -129px;
}

/* hover test*/
.mybutton
{
hw-text-color: #00ff00;
}
input[type="button"]:hover
{
hw-text-color: #000;
}
a
{
hw-text-color: #00ff00;
}
a:hover
{
hw-text-color: #000;
}