	/* EPKS Style Sheet*/
.PointName_Style
{
	/* Style class applies to AlphaText used for Point Name*/
	hw-text-family: Arial;
	hw-text-size: 10pt;	
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-color: black;
	hw-fill-color: transparent;	
	hw-line-width: 0;
}

.Description_Style
{
	/* Style class applies to AlphaText used for Description */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: black;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
}
.General_Left_Style
{
	/* Style class applies to AlphaText used for Unit text in Analog & Accumulator (EPKS), general headings*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-color: black;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.General_Right_Style
{
	/* Style class applies to AlphaText used for PV Range, Unit text*/
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: right;
	hw-text-color: black;
	hw-fill-color: transparent;
	hw-line-width: 0;
}
.IOType_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-fill-color: #6987E7;
	hw-line-color: #6987E7;
	hw-text-effect: Bold;
	hw-text-align: center;
}

.IOState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-fill-color: black;
	hw-line-color: black;
	hw-text-align: center;
}

.Txt_Label_Left_Style
{
	/* Style class applies to Text used for Value labels, Unit Labels in Control Zone */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-color: gray;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.Txt_Label_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: gray;
	hw-text-effect: None
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Txt_Label_Bold_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: gray;
	hw-text-effect: Bold;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Dataentry_Alphanumeric_Style	
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-color: black;
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-text-effect: bold;
	hw-text-align: Right;
	hw-text-family: Arial;
	hw-text-size: 12pt;

}
.DataEntry_Alphanumeric_Right_Style	
{
	/* Style class applies to all alpha used for numeric values with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: bold;
	hw-text-align: Right;
	hw-text-color: black;
	hw-fill-color: white;
	hw-line-width: 2;
	hw-line-style: inset;
	hw-line-color: gray;
}

.Dataentry_Left_Alphanumeric_Style	
{
	/* Style class applies to all alpha used for String values with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: bold;
	hw-text-align: Left;
	hw-text-color: black;
	hw-fill-color: white;
	hw-line-width: 2;
 	hw-line-style: inset;
	hw-line-color: gray;
}

.Dataentry_Combobox_Style
{
	/* Style class applies to all Combobox used with data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-color: black;
	hw-fill-color: White;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-color: gray;
}

.Alarm_Style
{
	/* Style class applies to all alpha used for indicating alarm */
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-color: black;
	hw-fill-color: transparent;
	hw-line-width: 0;
}

.SimState_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Center;
	hw-text-effect: Bold;
	hw-text-family: Arial;
	hw-text-size: 12pt;
	hw-text-color: black;
	
}

.Readonly_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;
	hw-text-color: Black;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-Fill-color: Transparent;
	
}

.ReadOnly_Alphatext_RightAlign_Style
{
	/* Style class applies to all alpha used for numeric values with no data entry */
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-color: Black;
	hw-Fill-color: Transparent;
	hw-line-width: 0;
}

.ReadOnly_Alphatext_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-Fill-color: Transparent;
	hw-text-effect: Bold;
	hw-text-color: Black;	
	hw-text-family: Arial;
	hw-text-size: 12pt; 
	hw-fill-style: none;		
}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-color: Black;
	hw-Fill-color: Transparent;
	hw-fill-style: None;
	hw-text-effect: Bold;	
	hw-text-family: Arial;
	hw-text-size: 12pt;
}
.Hidden_Alpha_LeftAlign_Style
{
	/* Style class applies to all alpha that are hidden */
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-effect: none;
	hw-text-align: Left;
	hw-text-color: red;
	hw-fill-color: Transparent;
	hw-line-width: 0;
	hw-visibility: hidden;
}
/* following styles are used for Power Function blocks faceplate displays */

.PFB_START_OPEN
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-line-color: black;
	hw-Fill-color: #FF0000;
}

.PFB_STOP_ClOSE
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-line-color: black;
	hw-Fill-color: #00FF00;
		
}
.PFB_Bad
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FFFF00;
		
}

.PFB_ALM_NORM
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #00FF00;
	
}
.PFB_ALM_ACK
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #00BFFF;
	
}
.PFB_ALM_UNACK
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FF0000;
	
}
.PFB_ALM_UNACKRTN
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */
	hw-Fill-color: #FFFF00;
	
}

.Txt_Label_Normal	
{	
	hw-fill-color:transparent;
	hw-text-color: gray;
	hw-text-effect: None
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Txt_Label_Off_Normal	
{	
	hw-fill-color:#808080;
	hw-text-color:#DDDDDD;
	hw-text-effect:solid;
	hw-text-align: left;
	hw-text-family: Arial;
	hw-text-size: 10pt;
}

.Picbackground_Style
{
	/* Style class used for background rectangle */
	hw-fill-color: #DED8D0;
	hw-line-width: 1;
	hw-line-style: none;
	hw-line-color: #DED8D0;
}

.Pushbutton_Style
{
	/* This style class currently has only the property setting to center the button's background image both horizontally and vertically. */
	background-position: center center;
})