.Titlebar_Combobox_Style

{	hw-fill-color: #9db2c5;		
	hw-line-color: White;
	hw-line-width: 2;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: white;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.DisplayArea_Combobox_Style

{	hw-fill-color: White;		
	hw-line-color: silver;
	hw-line-width: 1;
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-text-color: Black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}


.Field_Label_Style

{	hw-fill-color: Transparent;
	hw-text-color: black;		
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;

}

.Location_Text_Style

{	hw-fill-color: Transparent;
	hw-text-color: white;		
	hw-text-effect: None;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;

}

.Group_Label_Style

{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: left;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;		
}

.Group_Label_Right_Aligned_Style

{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: right;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;		
}

.Titlebar_Text_Style
{
	hw-text-color: White;
	hw-text-align: left;		
	hw-text-effect: Bold;		
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: Transparent;
	

}
.Titlebar_AlphaNumeric_Left_Style
{
	hw-fill-color: #9db2c5;
        hw-text-color: White;
	hw-text-align: Left;		
	hw-text-effect: Bold;		
	hw-text-family: arial;
	hw-text-size: 10pt;

}
.Titlebar_AlphaNumeric_Right_Style
{
	hw-fill-color: #9db2c5;
        hw-text-color: White;
	hw-text-align: Right;		
	hw-text-effect: Bold;		
	hw-text-family: arial;
	hw-text-size: 10pt;

}

.Standard_Button_Style
{
	hw-text-color: Black;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
			
}
/* style for Action buttons */

 .Display_Action_Button_Style			
{
	
	hw-text-color: White;
	hw-text-align: center;
	hw-text-effect: regular;
	hw-text-family: arial;
	hw-text-size: 10pt;
			

}




.DataEntry_Alphanumeric_Style
{	
	hw-text-color: black;
	hw-text-effect: bold;
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-line-width: 2;		
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-line-color: white;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;

}

.DataEntry_Left_Alphanumeric_Style
{	
	hw-text-color: black;
	hw-text-effect: bold;
	hw-fill-style: None;		
	hw-fill-color: white;
	hw-line-width: 2;		
	hw-line-style: Inset;
	hw-line-effect: none;
	hw-line-color: white;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;

}

.Readonly_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-effect: Bold;	
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: white;
		                     
}

.Readonly_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;	
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-fill-color: white;
		                     
}

.Location_Alpha_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;	
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: white;
	hw-fill-color: Transparent;
		                     
}

.Description_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-line-width: 0;
	hw-text-color: black;
	hw-text-effect: none;
	hw-text-align: left;
	hw-text-family: arial;
	hw-text-size: 10pt;
}

.Check_Option_box_style
{
	hw-text-color: black;
	hw-text-effect: none;		
	hw-text-align: left;
	hw-fill-style: none;
	hw-fill-color: Transparent;
	hw-text-family: arial;
	hw-text-size: 10pt;
	

}

.TableHeader_Left_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}
.TableHeader_Right_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}


.TableHeader_center_Align_Style
{
	hw-text-color: black;
	hw-text-effect: Bold;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}

.TableContent_Left_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}
.TableContent_Right_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}


.TableContent_center_Align_Style
{
	hw-text-color: black;
	hw-text-effect: regular;
	hw-text-align: center;
	hw-text-family: arial;
	hw-text-size: 9pt;			
}

.Comments_Style
{
	hw-text-family: Arial;
	hw-text-size: 10pt;
	hw-text-color: gray;
	hw-text-effect: Italic;
}
		
.Tab_Button__Text_Style

{
	hw-fill-color: Transparent;
	hw-text-color: black;
	hw-text-align: center;           
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-effect: Bold;		
}

.Hyperlink_Alpha_RightAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-effect: Bold;	
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
		                     
}

.Hyperlink_Alpha_LeftAlign_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-effect: Bold;	
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
	hw-text-effect: Underline;
		                     
}

.Dataentry_Titlebar_AlphaNumeric_RightAlign_Style
{
	hw-fill-color: #9db2c5;
        hw-text-color: White;
	hw-text-align: Right;	
        hw-line-style: Inset;	
	hw-text-effect: Bold;		
	hw-text-family: arial;
	hw-text-size: 10pt;

}


.Hyperlink_RightAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Right;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
			                     
}



.Hyperlink_LeftAlign_Withoutunderline_Style
{
	/* Style class applies to all elements because no "hw-element-class" attribute is present */

	hw-text-align: Left;
	hw-text-family: arial;
	hw-text-size: 10pt;
	hw-text-color: Blue;
	hw-fill-color: Transparent;
		                     
}
